<div class="head-top head-fixed al-c">
    <a href="javascript:void(0);" id="info_back"><i class="i-back" ></i></a><b>账户资料</b>
</div>

<section class="account-pubox mt44">

    <div class="account-cen-item account-box-style">
        <div class="cen-st-litem acc-us-toux">
            <a href="javascript:void(0);" id="account_setAvatar">
                头像
                <div class="acc-item-rst">
                    <div class="account-user-img"><img id="myInfoAvatar" src="" width="100%" alt="user" /></div><i class="i-arrow-down"></i>
                </div>
            </a>
        </div>
    </div>

    <div class="blk20 blke3e3ea"></div>
    <div class="account-cen-item account-box-style">
        <div class="cen-st-litem">
            <a href="javascript:void(0)" id="account-setNickname">
                昵称
                <p class="acc-item-rst"><span id="myNickname"></span><i class="i-arrow-down"></i></p>
            </a>
        </div>
    </div>
    <p class="acc-user-info">验证成功后，可在大厅畅所欲言</p>

    <div class="blk20 blke3e3ea"></div>
    <div class="account-cen-item account-box-style">
        <div class="cen-st-litem">
            <a href="javascript:void(0);" id="account-setUsername">
                用户名
                <p class="acc-item-rst"><span id="myName"></span><i class="i-arrow-down"></i></p>
            </a>
        </div>
        <div class="cen-st-litem cen-item-line">
            <a href="javascript:void(0);" id="account-setPwd">
                密码
                <p class="acc-item-rst"><span>*******</span><i class="i-arrow-down"></i></p>
            </a>
        </div>
    </div>
    <p class="acc-user-info">设置之后可使用用户名+密码方式登录实时解盘</p>

    <div class="blk20 blke3e3ea"></div>
    <div class="account-cen-item account-box-style">
        <div class="cen-st-litem">
            <a href="javascript:void(0);" id="account-set-mail">
                邮箱
                <p class="acc-item-rst"><span id="myEmail"></span><i class="i-arrow-down"></i></p>
            </a>
        </div>
    </div>
    <p class="acc-user-info">验证邮箱可使用邮箱+密码方式登录、订阅邮件服务等</p>

    <div class="blk20 blke3e3ea"></div>
    <div class="account-cen-item account-box-style">
        <div class="cen-st-litem">
            <a href="javascript:void(0)">
                手机号
                <p class="acc-item-rst" id="myMobile"></p>
            </a>
        </div>
    </div>
    <div class="blk20 blke3e3ea"></div>

    <div class="sub-form acc-user-logout">
        <button class="submit-btn" id="account-logout">登出账号</button>
    </div>
    <div class="blk20 blke3e3ea"></div>

</section>