<div class="head-top head-fixed al-c">
    <a href="javascript:void(0);" id="email_back"><i class="i-back" ></i></a><b>绑定邮箱</b>
</div>

<section class="account-pubox mt44">

    <div class="sub-form set-pb-fon">
        <div class="account-cen-item account-box-style">
            <input type="text" placeholder="请输入邮箱" class="cen-st-litem set-btn-sum" id="inputEmail" />
        </div>
        <p class="acc-user-info">验证邮箱可使用邮箱+密码方式登录、订阅邮件服务等</p>
        <div class="acc-set-pad">
            <div class="error-bar dn">
                <i class="i-warn"></i><span class="tips-txt">呀~ 邮箱格式填写有误，请重填</span>
            </div>
            <div class="login-bt-fix">
                <div class="plrall">
                    <button class="submit-btn login-btn" id="saveEmail">提交绑定</button>
                </div>
            </div>
        </div>
    </div>
</section>