<div class="head-top head-fixed al-c">
    <a href="javascript:void(0);" class="btn-l" id="back_room"><i class="i-back"></i></a>
    <b>我的账户</b>
</div>

<section class="account-pubox mt44">
    <div class="accont-item account-box-style pad20">
        <div class="account-user-zl">
            <a href="javascript:void(0);" id="account_info">
                <i class="i-arrow-down"></i>
                <div class="account-user-img"><img id="myAvatar" src="" width="100%" alt="user" /></div>
                <div class="account-user-info">
                    <em id="nickname">
                        </em>
                    <p class="account-user-sf">
                        <span id="myGroup"></span> 等级
                        <s id="myLevel">L0</s>
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="blk7 blke3e3ea"></div>
    <div class="account-cen-item account-box-style">
        <div class="cen-st-litem">
            <a href="javascrip:void(0);" id="account_integral">
                    我的积分
                    <p class="acc-item-rst"><span id="mypoints">0</span><i class="i-arrow-down"></i></p>
                </a>
        </div>
        <div class="cen-st-litem cen-item-line">
            <a href="javascrip:void(0);" id="account_subscribe">
                    我的订阅
                    <p class="acc-item-rst"><i class="i-arrow-down"></i></p>
                </a>
        </div>
    </div>

</section>