<div class="head-top head-fixed al-c">
    <a href="javascript:void(0);" id="nickname_back"><i class="i-back" ></i></a><b>设置昵称</b>
</div>

<section class="account-pubox mt44">

    <div class="sub-form set-pb-fon">
        <div class="account-cen-item account-box-style">
            <input type="text" placeholder="请输入昵称" class="cen-st-litem set-btn-sum" id="inputNickname" />
        </div>
        <p class="acc-user-info">验证成功后，可在大厅畅所欲言</p>
        <div class="acc-set-pad">
            <div class="error-bar dn">
                <i class="i-warn"></i><span class="tips-txt">呀~ 这个昵称跟别人重复了，请再选一个</span>
            </div>
            <div class="login-bt-fix">
                <div class="plrall">
                    <button class="submit-btn login-btn" id="submitNickname">提交设置</button>
                </div>
            </div>
        </div>
    </div>

</section>