<div class="head-top head-fixed al-c">
    <a href="javascript:void(0);" id="pwd_back"><i class="i-back" ></i></a><b>设置密码</b>
</div>

<section class="account-pubox mt44">

    <div class="sub-form set-pb-fon set-pwd-fon">

        <div class="account-cen-item account-box-style">
            <div class="cen-st-litem">
                原密码
                <div class="acc-item-rst">
                    <input type="password" placeholder="请输入原密码" class="cen-st-litem set-btn-sum" id="oPwd">
                </div>
            </div>
            <div class="cen-st-litem cen-item-line">
                密码
                <div class="acc-item-rst">
                    <input type="password" placeholder="请输入新密码" class="cen-st-litem set-btn-sum" id="newPwd">
                </div>
            </div>
            <div class="cen-st-litem cen-item-line">
                确认密码
                <div class="acc-item-rst">
                    <input type="password" placeholder="请再次输入新密码" class="cen-st-litem set-btn-sum" id="newPwd1">
                </div>
            </div>
        </div>

        <p class="acc-user-info">设置之后可使用用户名+密码方式登录实时解盘</p>
        <div class="acc-set-pad">
            <div class="error-bar dn">
                <i class="i-warn"></i><span class="tips-txt">呀~ 两次密码不一致，请重新输入</span>
            </div>
            <div class="login-bt-fix">
                <div class="plrall">
                    <button class="submit-btn login-btn" id="savePwd">提交设置</button>
                </div>
            </div>
        </div>
    </div>

</section>