<div class="head-top head-fixed al-c">
    <a href="javascript:void(0);" id="username_back"><i class="i-back" ></i></a><b>设置用户名</b>
</div>

<section class="account-pubox mt44">

    <div class="sub-form set-pb-fon">
        <div class="account-cen-item account-box-style">
            <input type="text" placeholder="请输入用户名" class="cen-st-litem set-btn-sum" id="myUserName">
        </div>
        <p class="acc-user-info">设置之后可使用用户名+密码方式登录在线教育</p>
        <div class="acc-set-pad">
            <div class="error-bar dn">
                <i class="i-warn"></i><span class="tips-txt">呀~ 这个用户名跟别人重复了，请再选一个</span>
            </div>
            <div class="login-bt-fix">
                <div class="plrall">
                    <button class="submit-btn login-btn" id="saveUserName">提交设置</button>
                </div>
            </div>
        </div>
    </div>


</section>