<div class="head-top head-fixed al-c">
    <a href="javascript:void(0);" id="point_back"><i class="i-back" ></i></a><b>我的积分</b>
</div>

<section class="account-pubox mt44">

    <div class="account-cen-item acc-jif-cfon account-box-style">
        <div class="cen-st-litem">
            现有积分
            <p class="acc-item-rst"><span class="jif-all-fon" id="myPoints"></span></p>
        </div>
    </div>

    <div class="password-tab account-tab-fon" id="TabMenu">
        <span class="sub-nav active" id="integralObtain">积分获得</span>
        <span class="sub-nav" id="integralCost">积分消费</span>
    </div>
    <div id="banConId">
        <!-- 积分获得 -->
        <div class="account-jf-item" id="point_get">
            <div class="account-cen-item acc-jif-cfon account-box-style" id="point_get_item">

            </div>
            <div class="blk7 blke3e3ea"></div>
            <div class="account-cen-item acc-jif-cfon account-box-style">
                <div class="cen-st-litem">
                    合计获得
                    <p class="acc-item-rst"><span class="jif-xf-t" id="pointGetTotal"></span></p>
                </div>
            </div>
        </div>

        <!-- 积分消费 -->
        <div class="account-jf-item" style="display:none" id="point_consume">
            <div class="account-cen-item acc-jif-cfon account-box-style" id="point_consume_item">

            </div>
            <div class="blk7 blke3e3ea"></div>
            <div class="account-cen-item acc-jif-cfon account-box-style">
                <div class="cen-st-litem">
                    合计消费
                    <p class="acc-item-rst"><span class="jif-xf-t" id="pointConsumeTotal"></span></p>
                </div>
            </div>
        </div>
    </div>

</section>