<div class="head-top head-fixed al-c">
    <a href="javascript:void(0);" id="avatar_back"><i class="i-back" ></i></a><b>设置头像</b>
</div>

<section class="account-pubox mt44">

    <div class="account-cen-item account-box-style">
        <div class="cen-st-litem acc-av-tc">
            <div class="account-user-img"><img id="accPhoto" src="" width="100%" alt="user" /></div>
        </div>
    </div>

    <div class="blk7 blke3e3ea"></div>
    <!--<div class="account-cen-item account-box-style">
        <button class="cen-st-litem set-btn-sum" capture="camera">拍照</button>
        <form method="post" enctype='multipart/form-data' id="accountAvatarForm" name="accountAvatarForm">
            <input type="file" accept="image/*;capture=camera" class="cen-st-litem set-btn-sum hideCarmara" name="flTradeImg" id="flTradeImg" />
            <input type="hidden" name="tradeImg" id="tradeImg" value="" />
            <i class="pic-thumb"></i>
            <img src="" class="obj-upload dn" />
            <input type="hidden" name="fileDir" value="pic/header/chat/front" />
            <input type="hidden" name="fileType" value="showTrade" />
        </form>
    </div>

    <div class="blk7 blke3e3ea"></div>-->
    <div class="account-cen-item account-box-style">
        <button class="cen-st-litem set-btn-sum">拍照/手机相册选择</button>
        <form method="post" enctype='multipart/form-data' id="accountAvatarForm" name="accountAvatarForm">
            <input type="file" accept="image/*;capture=camera" class="cen-st-litem set-btn-sum hideCarmara" name="flTradeImg" id="flTradeImg" />
            <input type="hidden" name="tradeImg" id="tradeImg" value="" />
            <i class="pic-thumb"></i>
            <img src="" class="obj-upload dn" />
            <input type="hidden" name="fileDir" value="pic/header/chat/front" />
            <input type="hidden" name="fileType" value="showTrade" />
        </form>
    </div>
</section>