<div class="head-top head-fixed mt40 al-c">
	<a href="javascript:void(0);" id="back_subscribe"><i class="i-back"></i></a>
	<b>老师简介</b>
	<a href="javascript:void(0);" class="txt-btn btn-r" id="analyst_more">更多老师</a>
</div>
<section class="program-con mt84 mb50">
	<div class="program-list">
		<div class="item-con" id="analystInfo">
			<div temp="analystInfo">
				<img src="/theme2/img/pro-bg1.jpg" class="img-pro"/>
				<div class="item-main">
					<div class="item-infos">
						<div class="user-infos"><span class="uname">{0}</span><!--实盘日课--></div>
						<div class="badge-group">
							{1}
						</div>
						<ul class="data-list data-list-one clearfix">
							<li>
								<span>{2}<em>%</em></span>
								<p>胜率</p>
							</li>
							<li>
								<span>{3}<em>%</em></span>
								<p>月收益</p>
							</li>
							<li>
								<span>{4}</span>
								<p>订阅</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="blk7 blke3e3ea"></div>
		<div class="share-btns infos-opbar" id="analystPraiseTool">
			<ul class="clearfix" temp="analystPraise">
				<li>
					<a href="javascript:void(0);" class="has-dzan support" userNo="{1}">
						<span class="top-icons i-dzan3"></span>
						<label>{0}</label>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" userNo="{1}" class="dollar">
						<span class="top-icons i-dollar3"></span>
						<label>打赏</label>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" class="add-wx" userNo="{1}">
						<span class="top-icons i-chat-wx"></span>
						<label>加微信</label>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" fs="btn-blue" class="subscribe" analystId="{1}" lrid="" ssid="" tsid=""
					   type="" id="analystSubscribe" style="display: none;">
						<span class="top-icons i-subscribe"></span>
						<label>订阅</label>
					</a>
				</li>
			</ul>
		</div>
		<div class="blk7 blke3e3ea"></div>
		<div class="u-desc-txt" id="analystIntro">
			<p temp="analystIntroduction">{0}</p>
		</div>
		<div class="blk7 blke3e3ea"></div>
		<div class="u-blockcon">
			<div class="titlebar"><span>战</span>绩</div>
			<div class="u-gains">
				<ul class="clearfix" id="analystShowTrade">
					<li temp="analystShowTrade">
						<div class="u-g-hd">{0}<!-- 获利 <span>158.00</span>--></div>
						<a href="{2}" data-lightbox="dialog-img"  >
							<img class="u-g-img lazy" src="/theme2/img/pic-4.png" />
						</a>
						<div class="u-g-time">{1}</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="blk7 blke3e3ea"></div>
		<div class="u-blockcon" id="analystTrain">
			<div class="titlebar" temp="analystTrainTitle"><span>培</span>训班<label>已结束开班{0}期<i>/</i>总共{1}人</label></div>
			<div class="u-ch-class" temp="analystTrainInfo">
				<div class="u-ch-hd">
					<img src="/theme2/img/ch-pic-new1.jpg" class="ab-img"/>
					<b class="u-ch-tit">{0}</b><span class="u-ch-status">{1}</span>
				</div>
				<div class="u-ch-con">
					<p>{2}</p>
					<a href="{9}" userno="{4}" sp="{5}" cgs="{6}" rid="{7}" e="{8}" updateTrain="updateTrain">{3}<i class="i-arrow-r3"></i></a>
				</div>
			</div>
		</div>
		<div class="blk7 blke3e3ea"></div>
		<div class="u-blockcon">
			<div class="titlebar"><span>精</span>彩直播</div>
			<div class="u-gains u-video-list">
				<ul id="analystVideoList">
					<li temp="analystVideo">
						<img src="/theme2/img/cm.png" class="u-g-img" alt="{0}"/>
						<a href="javascript:void(0);" title="{1}" ct="{2}" articleId="{3}" vurl="{4}" onclick="_gaq.push(['_trackEvent', 'pmchat_studio', 'right_ls_Wonderfullive', '{1}', 1, true]);"><i class="i-video2"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="blk7 blke3e3ea"></div>
		<div class="u-blockcon">
			<div class="titlebar"><span>学</span>员风采</div>
			<div class="u-gains u-video-list">
				<ul id="analystStudentVideoList">
					<li temp="analystStudentVideo">
						<a href="javascript:void(0);" data-lightbox="student-img" data-title="{0}" onclick="_gaq.push(['_trackEvent', 'pmchat_studio', 'right_ls_StudentsStyle', '{1}', 1, true]);">
							<img src="/theme2/img/cm.png" class="u-g-img" alt="{0}"/>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="blk7 blke3e3ea"></div>
		<div class="u-blockcon">
			<div class="titlebar"><span>教</span>学视频</div>
			<div class="u-gains u-video-list">
				<ul id="analystTeachVideoList">
					<li temp="analystTeachVideo">
						<img src="/theme2/img/cm.png" class="u-g-img" alt="{0}"/>
						<a href="javascript:void(0);" title="{1}" ct="{2}" articleId="{3}" vurl="{4}" onclick="_gaq.push(['_trackEvent', 'pmchat_studio', 'right_ls_teachvideo', '{1}', 1, true]);"><i class="i-video2"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<div class="popup add-weixin" id="analystWechat">
	<div class="popcon" temp="analystWechat">
		<span class="i-close3"></span>
		<div class="pop-main">
			<img src="/theme2/img/qr-code.png" class="qr-code"/>
			<a href="{0}" ><i class="i-download"></i></a>
			<p class="pop-msg al-c">
				点击上方按钮，将保存图片到本地<br/>
				然后用微信识别图中二维码<br/>
				即可关注老师微信号:{0}
			</p>
		</div>
	</div>
</div>

<div class="popup add-weixin" id="analystDollar">
	<div class="popcon" temp="analystDollar">
		<span class="i-close3"></span>
		<div class="pop-main">
			<img src="/theme2/img/qr-code.png" class="qr-code"/>
			<a href="{0}" ><i class="i-download"></i></a>
			<p class="pop-msg al-c">
				点击上方按钮，将保存图片到本地<br/>
				然后用微信识别图中二维码<br/>
				即可关注老师微信号:{0}<br/>
				您也可以复制老师微信号<br/>
				加老师为好友<br/>
				就可以给老师打赏发红包啦
			</p>
		</div>
	</div>
</div>