<div class="head-top head-fixed mt40 al-c">
	<span class="btn-l"><b class="head-tit">直播精华</b></span>
	<a href="javascript:void(0)" class="txt-btn btn-r" id="classNote_close"><i class="i-close close-btn"></i></a>
</div>
<section class="video-con mt84 mb50">
	<div class="video-infos pt0 z2">
		<div class="infos-block plrall clearfix live-essence" id="classNote_teacher">
			<div class="avatar-info fl">
				<img src="/theme2/img/avatar.png" class="img-avatar"/>
				<div class="a-top"><b>李呱呱</b><i class="i-dot3"></i></div>
			</div>
			<div class="program-con infos-program fl">
				<div class="program-list">
					<div class="badge-group">
						<label class="u-badge">趋势专家<i class="i-badge-arrowr"></i></label>
						<label class="u-badge">技术派<i class="i-badge-arrowr"></i></label>
					</div>
				</div>
				<div class="program-resource al-r">
					<div class="s1">文字交流</div>
					<div class="s2">2017.01.19 17:30~19:00</div>
				</div>
			</div>
		</div>
		<div id="classNote_data">

		</div>
	</div>
</section>