<div class="head-top head-fixed head-chat mt40 al-c">
	<a href="javascript:void(0);" class="touch-area fl"  id="privateChat_back"><i class="i-back"></i></a>
	<a href="javascript:void(0);" class="fr touch-area"><i class="i-call"></i></a>
	<div class="item-list" id="privateChatTabs">
		<a href="javascript:void(0);" temp="privateChat_whTalker" class="{0}" uid="{3}" utype="{4}">
			<span class="img"><img src="/theme2/img/cm.png" class="avatar-obj"/><i class="i-tips-txt">{1}</i><b class="mask-avatar"></b></span>
			<span class="u-name">{2}</span>
		</a>
	</div>
</div>
<section class="chat-con mt80 mb50" style="margin-top: 120px;">
	<div class="fixed-con">
		<div id="privateChatMsgDiv">
			<div class="chat-block clearfix" id="privateChat_msg{0}" temp="privateChat_msgTemp">
			</div>
		</div>
		<div class="chat-op">
			<div class="content_w">
				<div class="chat-op-default">
					<div class="op-panel">
						<i class="i-addbtn2" id="addbox-btn"></i>
						<div class="text-area-box">
							<div id="contentText" contenteditable="true" class="text-area-con"></div>
							<span id="privateChat_contHolder" class="placeholder">我来说两句...</span>
						</div>
						<button id="privateChat_send" class="i-sendbtn hide">发送</button>
					</div>
				</div>
				<div class="chat-add-box" id="privateChat_tools">
					<div class="add-box-bd" id="privateChat_tool2">
						<ul class="add-btns-list clearfix">
							<li><a href="javascript:void(0);" id="privateChat_face"><i class="i-emp2"></i><label>表情</label></a></li>
							<li>
								<span class="upload-pic" id="privateChat_pic"><input type="file" class="sfile-input"/><i class="i-pic"></i></span>
								<label>图片</label>
							</li>
							<!--<li><a href="javascript:void(0);"><i class="i-dollar"></i><label>打赏</label></a></li>-->
						</ul>
					</div>
					<div id="privateChat_tool3" class="swiper-container dn">
						<div id="privateChat_facePanel" class="face swiper-wrapper"></div>
						<div class="face-nav swiper-pagination"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--通话方式选择-->
<div class="popup select-callmethod">
	<div class="popcon popcon-bt">
		<a href="tel:(852) 8109 9928">联系客服</a>
		<a href="javascript:void(0);" id="callMe">给我回电</a>
		<div class="blk7"></div>
		<a href="javascript:;" class="cancel-btn"><b>取消</b></a>
	</div>
</div>

