<div class="head-top head-fixed mt40 al-c">
    <!--<a href="javascript:void(0);" id="register_back"><i class="i-back"></i></a>-->
    <span class="login-ms"><b class="current" id="mobileRegister">注册</b></span>
</div>
<section class="login-con mt84">
    <div class="sub-form">
        <div class="login-panel">
            <div class="form-input clearfix">
                <div class="input-group">
                    <div class="del_touch"><span class="del-btn i-input-op"></span></div>
                    <input id="regForm_mb" name="mobilePhone" type="text" maxlength="11" class="f-i-text i-text-block" placeholder="请输入手机号" />
                </div>
                <div class="input-group fl mt password-panel">
                    <input type="password" name="password" id="password" placeholder="请输入密码" class="f-i-text i-text-block" />
                </div>
                <div class="input-group fl mt password-panel">
                    <input type="password" name="password" id="password2" placeholder="再次输入密码" class="f-i-text i-text-block" />
                </div>
                <div class="input-group fl mt password-panel">
                    <div class="del_touch get-dt-code">
                        <input type="button" id="regForm_vcb" class="get-code-txt" value="获取验证码" />
                        <span class="i-input-op">&nbsp;</span>
                    </div>
                    <input id="regForm_vc" name="smsCode" type="text" placeholder="短信验证码" class="f-i-text i-text-block" />
                </div>
            </div>
        </div>
        <div class="error-bar dn">
            <i class="i-warn"></i><span class="tips-txt">呀~ 手机号或密码不对哦，请重新输入</span>
        </div>
        <div class="login-bt-fix">
            <div class="plrall">
                <button class="submit-btn login-btn-grey" id="doRegister">注册</button>
            </div>
            <div class="login-fttxt al-c">已有账号，我要<a href="javascript://" id="back_login">&nbsp;登录</a></div>
        </div>
    </div>
</section>