<section class="sroll-box">
	<section class="scroll-imbd swiper-container" id="slider">
		<ul class="clearfix swiper-wrapper">
			<li class="swiper-slide" temp="banner">
				<a href="{0}" target="_blank">{1}</a>
			</li>
		</ul>
		<nav id="position" class="dot-infobox scroll_position"></nav>
	</section>
</section>
<!--<div class="advertise-cbox">
	<a href="javascript:void(0)">
		<div class="adver-tise-con">
			<img src="/theme2/img/redbag201708/new-red-im.jpg" width="100%" alt="一大波5-500元红包大派送">
			<a href="javascript://" class="adver-tan-btn"></a>
			<a href="javascript://" class="adv-rule-btn">活动详情</a>
		</div>
		<div class="gund-box">
			<ul>
				<li>**pt 获大疆航拍无人机</li>
				<li>**风 获1000京东卡</li>
				<li>**界 获2元微信红包</li>
				<li>**仔 获5元微信红包</li>
				<li>**mf 获1000京东卡</li>
				<li>**翔 获投资秘籍</li>
				<li>**名2 获5000积分</li>
				<li>**kk 获5000积分</li>
				<li>**12 获5元微信红包</li>
				<li>**峰d 获10元微信红包</li>
			</ul>
		</div>
	</a>
</div>-->
<section class="block-group" id="roomList">
	<div class="block-item item-{1}" temp="roomInfo">
		<a href="javascript:void(0);" gi="{0}" rt="{3}">
			<div class="item-hd">
				{4}
				<div class="block-tit">
					<div class="item-title"><b>{2}</b></div>
					<label class="listenership"><b>收听人数</b><i class="v-line"></i><span><!--人数--></span></label>
				</div>
				<div class="course-info">
					<span class="course-time"><!--时间--></span>
					<span class="teacher"><!--老师--></span>
					<span class="courseTitle"><!--课程名--></span>
				</div>
			</div>
		</a>
	</div>
</section>