<section class="sroll-box">
	<section class="scroll-imbd swiper-container" id="slider">
		<ul class="clearfix swiper-wrapper">
			<li class="swiper-slide" temp="banner">
				<a href="{0}" target="_blank"><img width="100%" alt="" src="/theme2/img/noviceGuide/banner-1.jpg"></a>
			</li>
		</ul>
		<nav id="position" class="dot-infobox scroll_position"></nav>
	</section>
</section>
<section class="block-group" id="roomList">
	<div class="block-item item-{1}" temp="roomInfo">
		<a href="javascript:void(0);" gi="{0}" rt="{3}">
			<div class="item-hd">
				<img src="/theme2/img/block-bg4.jpg" class="block-bg" />
				<div class="block-tit">
					<div class="item-title"><b>{2}</b></div>
					<label class="listenership"><b>收听人数</b><i class="v-line"></i><span><!--人数--></span></label>
				</div>
				<div class="course-info">
					<span class="course-time"><!--时间--></span>
					<span class="teacher"><!--老师--></span>
					<span class="courseTitle"><!--课程名--></span>
				</div>
			</div>
		</a>
	</div>
</section>