<div class="head-top head-fixed mt40 al-c">
	<a href="javascript:void(0);" id="showTrade_back"><i class="i-back"></i></a>
	<b>晒单墙</b>
	<a href="javascript:void(0);" class="sdan-btn btn-r addShowTrade"><i class="i-addbtn3"></i></a>
</div>
<section class="sdan-con mt84">
	<div class="top-linkbar plrall al-r"><a href="javascript:void(0);" class="a-link" id="myShowTrade"><i class="i-sdan2"></i>我的晒单</a></div>
	<div class="blk7 blke3e3ea"></div>
	<div class="item-list" id="showTradeList">
		<div class="item-cell" temp="showTrade" sid="{5}">
			<a href="javascript:void(0);" class="avatar-l"><img src="/theme2/img/user.png" alt="" /></a>
			<div class="item-con">
				<p class="i-c-hd"><span class="uname">{0}</span><span class="c-time">{1}</span></p>
				<div class="item-con-desc">
					<p class="p1">{2}</p>
					<img src="/theme2/img/user_c.png" class="obj-img"/>
					<p class="p2">{3}</p>
				</div>
				<div class="social-op al-r">
					<a href="javascript:void(0);" class="support" id="{5}"><span><i class="i-dzan2"></i><label>{4}</label></span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="loadmore-bar al-c">
		<a href="javascript:void(0);" id="showTradeLoadMore"><span>加载更多</span><i class="i-arrow-down3"></i></a>
	</div>
</section>
