<div class="head-top head-fixed mt40 al-c">
	<a href="javascript:void(0);" id="back_syllabus"><i class="i-back"></i></a>
	<b>老师列表</b>
	<a href="javascript:void(0);" class="txt-btn btn-r"></a>
</div>
<section class="program-con mt84">
	<div class="program-list" id="subscribeAnalyst">
		<div class="item-con" temp="subscribeAnalyst" userNo="{7}">
			<img src="/theme2/img/pro-bg1.jpg" class="img-pro"/>
			<div class="item-main">
				<div class="item-infos">
					<div class="user-infos"><span class="uname">{0}</span><!--{1}--></div>
					<div class="badge-group">
						{1}
					</div>
					<ul class="data-list clearfix">
						<li>
							<span>{2}<em>%</em></span>
							<p>胜率</p>
						</li>
						<li>
							<span>{3}<em>%</em></span>
							<p>月赚</p>
						</li>
						<li>
							<span>{4}</span>
							<p>订阅</p>
						</li>
					</ul>
					<p class="ellips2"><span>{5}</span><a href="javascript:void(0);" class="detail"><i class="i-arrow-r2"></i></a></p>
				</div>
				<div class="btn-op social-op">
					<span><a href="javascript:void(0);" userNo="{7}" class="support"><i class="i-dzan2"></i></a><label>{6}</label></span>
					<a style="display: none;" href="javascript:void(0);" analystId="{7}" lrid="" ssid="" tsid="" class="btn btn-blue btnSubscribe" type="">订阅</a>
				</div>
			</div>
		</div>
	</div>
</section>