<div class="head-top head-fixed mt40 al-c">
	<a href="javascript:void(0);" id="back_chat"><i class="i-back"></i></a>
	<b>课程列表</b>
	<a href="javascript:void(0);" id="chat_subscribe" class="txt-btn btn-r">老师订阅</a>
</div>
<section class="program-con mt84">
	<div class="week-nav-tab">
		<ul class="clearfix" id="syllabusDayTitle">
			<li temp="syllabusDayTitle" day="{1}"><a href="javascript:void(0);">{0}</a></li>
		</ul>
	</div>
	<div class="blk7 blke3e3ea"></div>
	<div class="program-list" id="syllabusList">
		<div class="item-cell" temp="syllabusData">
			<div class="item-hd">
				<span class="title">{0} </span>
				<div class="status-info clearfix">
					<p class="fl"><span class="s-time">{1} {2}~{3}</span>{4}</p>
					<span class="s-status fr status-{8}">{5}</span>
					<div class="v-line1"></div>
				</div>
			</div>
			<div class="item-bd">
				<div class="avatar-info fl" userno="{11}">
					<img src="/theme2/img/any.png" class="img-avatar" alt="{6}"/>
					<div class="a-top"><b>{7}</b></div>
				</div>
				<p>{13}</p>
			</div>
			<div class="btn-op">
				<a href="javascript:void(0);" fs="btn-{10}" analystId="{11}" lrid="" ssid="" tsid="" class="btn btn-{10} btnSubscribe" type="" {12}>{9}</a>
			</div>
		</div>
	</div>
</section>