<div class="head-top head-fixed mt40 al-c">
	<a href="javascript:void(0);" id="train_back"><i class="i-back"></i></a>
	<b>培训班</b>
</div>
<section class="program-con mt84">
	<div class="program-list">
		<div class="training-course" id="trainsList">
			<div class="u-ch-class bgfff ch-pic-new{7}" temp="train">
				<div class="u-ch-con">
					<b class="u-ch-tit">{0}</b><span class="u-ch-status">{1}</span>
					<p>{2}</p>
					<div class="op-layer al-r">
						<span>{6}</span><a href="{5}" class="btn join-btn" rid="{4}"><b>{3}</b></a>
					</div>
				</div>
			</div>
<!--			<div class="u-ch-class bgfff ch-pic-new2">
				<div class="u-ch-con">
					<b class="u-ch-tit">钟文耀培训班(I)  </b><span class="u-ch-status">已结束</span>
					<p>CTF量化交易法实战应用            </p>
					<div class="op-layer al-r">
						<a href="javascript:;" class="btn"><b>精彩回顾</b></a>
					</div>
				</div>
			</div>
			<div class="u-ch-class bgfff ch-pic-new3">
				<div class="u-ch-con">
					<b class="u-ch-tit">李呱呱培训班 </b><span class="u-ch-status">已结束</span>
					<p>日内波段实战法与交易心理学         </p>
					<div class="op-layer al-r">
						<a href="javascript:;" class="btn"><b>精彩回顾</b></a>
					</div>
				</div>
			</div>
			<div class="u-ch-class bgfff ch-pic-new1">
				<div class="u-ch-con">
					<b class="u-ch-tit">陈丞的培训班(1) </b><span class="u-ch-status">已结束</span>
					<p>陈丞教您做数据！     </p>
					<div class="op-layer al-r">
						<a href="javascript:;" class="btn"><b>精彩回顾</b></a>
					</div>
				</div>
			</div>-->
		</div>
	</div>
</section>