<div class="head-top head-fixed mt40 al-c">
	<a href="javascript:void(0);" id="train_back"><i class="i-back"></i></a>
	<b>培训班</b>
</div>
<section class="program-con mt84">
	<div class="program-list">
		<div class="training-course" id="trainsList">
			<div class="u-ch-class" temp="train">
				<img src="/theme2/img/ch-pic03.jpg" class="ab-img"/>
				<div class="u-ch-con">
					<b class="u-ch-tit">{0}</b><span class="u-ch-status">{1}</span>
					<p>{2}</p>
					<a href="{5}" class="btn" rid="{4}">{3}</a>
				</div>
			</div>
		</div>
	</div>
</section>