<div class="head-top head-fixed mt40 al-c">
    <a href="javascript:void(0);" id="train_back"><i class="i-back"></i></a>
    <b>培训班</b>
</div>
<section class="program-con mt84">
    <div class="program-list">
        <div class="training-course" id="trainsList">
            <div class="u-ch-class bgfff ch-pic-new{7}" temp="train">
                <div class="u-ch-con">
                    <b class="u-ch-tit">{0}</b><span class="u-ch-status">{1}</span>
                    <p>{2}</p>
                    <div class="op-layer al-r">
                        <span>{6}</span><a href="{5}" class="btn join-btn" rid="{4}" state="{8}"><b>{3}</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>