<div class="head-top head-fixed mt40 al-c">
	<a href="javascript:void(0);" id="myShowTrade_back"><i class="i-back"></i></a>
	<b>我的晒单</b>
	<a href="javascript:void(0);" class="sdan-btn btn-r addShowTrade"><i class="i-addbtn3"></i></a>
</div>
<section class="sdan-con mt84">
	<div class="sdan-me" id="userShowTradeUserInfo">
		<div temp="userInfo">
			<a href="javascript:void(0);" class="avatar-l"><img src="/theme2/img/user.png" alt="" /></a>
			<div class="item-con">
				<p class="i-c-hd"><span class="uname">{0}</span><label>{1}</label></p>
				<div class="greed-bar">
					<p class="p1"><label><span>{2}</span>等级</label><label><span>{3}</span>积分</label></p>
					<p class="p2"><span class="progress-bar"><i class="pro-bar" style="width:{6}%"></i></span>{4}/{5}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="blk7 blke3e3ea"></div>
	<div class="item-list item-list-me" id="userShowTradeList">
		<div class="item-cell" temp="userShowTrade" sid="{5}">
			<div class="l-me-time">{0} <span>{1}</span></div>
			<div class="item-con">
				<div class="item-con-desc">
					<p class="p1">{2}</p>
					<img class="obj-img lazy" data-original="{6}"/>
					<p class="p2">{3}</p>
				</div>
				<div class="social-op al-r">
					<a href="javascript:void(0);" class="support" id="{5}"><span class="has-dzan"><i class="i-dzan2"></i><label>{4}</label></span></a>
				</div>
			</div>
		</div>
	</div>
</section>