<div class="scrollbox zwy">
    <div class="zwy_infobox">
        <div class="zwy_infobar clearfix">
            <div class="himg"><img src="/pm/theme1/img/timg_zwy.jpg" alt="" class="mCS_img_loaded"></div>
            <div class="info2">
                <h4><%= locals.userName %></h4>
                <span><%= locals.position %></span>
                <div class="item"><i></i>胜率：<b><%= locals.winRate %>%</b></div>
                <div class="item"><i class="i2"></i>赞：<b>(<%= locals.praiseNum %>)</b></div>
            </div>
            <div class="qrbox">
                <img src="/pm/theme1/img/zwy_qr.png" alt="" class="mCS_img_loaded">
                <p>老师微信号<span>chung24k</span></p>
            </div>
        </div>
        <div class="taglist">
            <span>TA们的印象：</span>
            <div class="tag"><span>预言帝</span><i></i></div>
            <div class="tag"><span>正能量</span><i></i></div>
            <div class="tag"><span>CTF量化趋势交易</span><i></i></div>
        </div>
        <div class="intro">
            <div class="tit"><span>老师简介</span></div>
            <p>从事金银外汇、环球证券、期货等不同金融产品交易多年，曾在港资及中资大行交易部门负责风险检控及交易工作。擅长判断趋势风向，并自创CTF量化趋势交易法，追踪资金流向（Cash flow)、技术分析(Technical Analysis)和基本分析(Fundamental Analysis)，针对长中短不同时期，把握拐点和大行情，为客户提供交易策略。</p>
        </div>
    </div>
    <div class="zwy_traindetail">
        <div class="cont">
            <span class="tit">本期培训班介绍</span>
            <div class="courseinfo">
                <span>CTF量化交易法实战应用</span>
                <ul class="numul">
                    <li><i>1</i>C for Cash flow - 国际产品互动观察</li>
                    <li><i>2</i>T for Technical - 技术分析要诀</li>
                    <li><i>3</i>F for Fundamental - 基本因素判断法则</li>
                    <li><i>4</i>黑天鹅暴富机会</li>
                    <li><i>5</i>黄金白银关系</li>
                </ul>
            </div>
            <div class="detail dleft">
                <div class="dbox ">
                    <span>报名时间：</span>
                    <p>11/28至12/4</p>
                </div>
            </div>
            <div class="detail">
                <div class="dbox red">
                    <span>开课时间：</span>
                    <p>12/5至12/9</p>
                </div>
            </div>
            <div class="detail bot">
                <div class="dbox">
                    <span>报名流程：</span>
                    <ul class="numul">
                        <li><i>1</i>点击“立即报名”按钮提交报名</li>
                        <li><i>2</i>报名审核通过后会有专人通知</li>
                    </ul>
                </div>
                <div class="dbox">
                    <span>报名条件：</span>
                    <ul class="numul">
                        <li><i>1</i>注册直播间</li>
                        <li><i>2</i>报名期间净入金满1000美元</li>
                    </ul>
                </div>
                <div class="dbox">
                    <span>报名人数：限额100名</span>
                </div>
            </div>
        </div>
    </div>
    <div class="train_ad"><a href="http://www.24k.hk/lp_v154_zwy.html" class="actrulebtn" target="_blank"><i></i>活动详情</a></div>
    <a href="javascript:chatTeacher.trainRegisByUserNo('<%=locals.userNo%>')" class="applybtn">立即报名</a>
</div>