<div class="head-top head-fixed mt40 al-c">
	<a href="javascript:void(0);"><i class="i-back"></i></a>
	<span class="login-ms"><b class="current" id="mobileLogin">手机号登录</b><b id="accountLogin">账号登录</b></span>
</div>
<section class="login-con mt84">
	<div class="sub-form">
		<div class="login-panel">
			<div class="form-input clearfix">
				<div class="input-group">
					<div class="del_touch"><span class="del-btn i-input-op"></span></div>
					<input id="loginForm_mb" name="mobilePhone" type="text" class="f-i-text i-text-block" placeholder="请输入手机号" />
				</div>
				<div class="password-tab mt">
					<span class="sub-nav active" id="usePwd">客户密码</span>
					<span class="sub-nav" id="useVcb">动态密码</span>
				</div>
				<div class="input-group fl mt password-panel">
					<div class="del_touch"><span class="i-psw i-psw-hide i-input-op" style="display:inline;"></span></div>
					<input style="display:block;" type="password" name="password" id="passwordRaw" placeholder="请输入密码" class="f-i-text i-text-block" />
					<input style="display:none;" type="text" id="passwordRaw2" placeholder="请输入密码" class="f-i-text i-text-block" />
				</div>
				<div class="input-group fl mt password-panel" style="display: none;">
					<div class="del_touch get-dt-code">
						<input type="button" id="loginForm_vcb" class="get-code-txt" value="获取动态密码" />
						<span class="i-input-op">&nbsp;</span>
					</div>
					<input id="loginForm_vc" name="verifyCode" type="text" placeholder="请输入动态密码" class="f-i-text i-text-block" />
				</div>
			</div>
		</div>
		<div class="login-panel" style="display: none;">
			<div class="form-input clearfix">
				<div class="input-group">
					<div class="del_touch"><span class="del-btn i-input-op"></span></div>
					<input type="text" id="accountNo" name="accountNo" class="f-i-text i-text-block" placeholder="请输入账号" />
				</div>
				<div class="input-group mt">
					<div class="del_touch"><span class="i-psw i-psw-hide i-input-op" style="display:inline;"></span></div>
					<input style="display:block;" type="password" id="npasswordRaw" placeholder="请输入密码" class="f-i-text i-text-block" />
					<input style="display:none;" type="text" id="npasswordRaw2" placeholder="请输入密码" class="f-i-text i-text-block" />
				</div>
				<div class="input-group mt">
					<div id="verMalCodeId" class="del_touch enter-v-code">
						<img src="" class="v-code" />
						<span class="i-input-op">&nbsp;</span>
					</div>
					<input type="text" id="verMalCode" name="verMalCode" class="f-i-text i-text-block" placeholder="请输入验证码" />
				</div>
			</div>
		</div>
		<div class="feedback_bar clearfix">
			<span class="fl checkbox-cm">
				<input type="checkbox" id="autoLogin" checked="checked" class="auto-login"><label for="autoLogin">下次自动登录</label>
			</span>
			<span class="fr forget_psw">
				<a href="javascript:void(0);">忘记密码？</a>
				<a href="javascript:void(0);" style="display: none;">未收到动态密码？</a>
			</span>
		</div>
		<div class="error-bar dn">
			<i class="i-warn"></i><span class="tips-txt">呀~ 手机号或密码不对哦，请重新输入</span>
		</div>
		<div class="login-bt-fix">
			<div class="plrall">
				<button class="submit-btn login-btn-grey">登录</button>
			</div>
			<div class="login-fttxt al-c"><a href="">开立账户</a>，可以获得更多直播间的专享福利</div>
		</div>
	</div>
</section>