<div class="head-top head-fixed mt40 al-c" id="teach_header">
	<a href="javascript:void(0);" class="btn-l" id="novice_back"><i class="i-back"></i></a>
	<b>新手学堂</b>
	<a href="javascript:void(0);" class="txt-btn btn-r">联系客服</a>
</div>
<section class="course-con mt84 mb50">
	<div class="sroll-box">
		<section class="noviceSwiper scroll-imbd swiper-container" id="noviceSlider">
			<ul class="clearfix swiper-wrapper">
				<li class="swiper-slide" temp="noviceBanner">
					<a href="{0}" target="_blank"><img width="100%" alt="" src="{1}"></a>
				</li>
			</ul>
			<nav id="novicePosition" class="noviceSwiperPage dot-infobox scroll_position"></nav>
		</section>
	</div>
	<div class="block-group new-block-group">
		<div class="blk7 blke3e3ea"></div>
		<div class="block-item item-green novice" t="live">
			<a href="javascript:void(0)">
				<div class="item-hd">
					<img src="/pm/theme2/img/noviceGuide/block-bg-green.jpg" class="block-bg"/>
					<div class="block-tit">
						<div class="item-title"><b>新手直播间</b></div>
						<label class="listenership"><b>关注人数</b><i class="v-line"></i><span>2238</span></label>
					</div>
					<div class="course-info"><span class="course-time">19:30~21:30</span><span class="teacher">李呱呱</span><span class="courseTitle">《黄金投资要避开哪些坑？》</span></div>
				</div>
			</a>
		</div>
		<div class="blk7 blke3e3ea"></div>
		<div class="block-item item-yellow novice" t="primary">
			<a href="javascript:void(0)">
				<div class="item-hd">
					<img src="/pm/theme2/img/noviceGuide/block-bg-yellow.jpg" class="block-bg"/>
					<div class="block-tit">
						<div class="item-title"><b>初级教程</b></div>
					</div>
					<div class="course-info"><span class="default-txt">交易入门及资金安全</span></div>
				</div>
			</a>
		</div>
		<div class="blk7 blke3e3ea"></div>
		<div class="block-item item-greenlight novice" t="middle">
			<a href="javascript:void(0)">
				<div class="item-hd">
					<img src="/pm/theme2/img/noviceGuide/block-bg-greenlight.jpg" class="block-bg"/>
					<div class="block-tit">
						<div class="item-title"><b>中级教程</b></div>
					</div>
					<div class="course-info"><span class="default-txt">全球动向及交易品种分析</span></div>
				</div>
			</a>
		</div>
		<div class="blk7 blke3e3ea"></div>
		<div class="block-item item-bluelight novice" t="advanced">
			<a href="javascript:void(0)">
				<div class="item-hd">
					<img src="/pm/theme2/img/noviceGuide/block-bg-bluelight.jpg" class="block-bg"/>
					<div class="block-tit">
						<div class="item-title"><b>高级教程</b></div>
					</div>
					<div class="course-info"><span class="default-txt">专题分析及深度解读</span></div>
				</div>
			</a>
		</div>
		<div class="blk7 blke3e3ea"></div>
	</div>
</section>
<div class="bottom-fixed content_w">
	<div class="bottom-con plrall">
		<div class="infos-opbar list-col-3">
			<ul class="clearfix">
				<li>
					<a href="http://m.24k.hk/zh/account_02.html" target="_blank">
						<span class="top-icons i-demo"></span>
						<label>模拟开户</label>
					</a>
				</li>
				<li>
					<a href="http://m.24k.hk/realaccount_open.html" target="_blank">
						<span class="top-icons i-key2"></span>
						<label>真实开户</label>
					</a>
				</li>
				<!--li>
					<a href="">
						<span class="top-icons i-send2"></span>
						<label>分享</label>
					</a>
				</li-->
			</ul>
		</div>
	</div>
</div>