<div class="head-top head-fixed mt40 al-c" id="teach_header">
	<a href="javascript:void(0);" class="btn-l" id="teach_back"><i class="i-back"></i></a>
	<b>新手专区</b>
	<a href="javascript:void(0);" class="txt-btn btn-r">联系客服</a>
</div>
<section class="course-con mt84 mb50">
	<div class="listblock bgfff">
		<ul class="list">
			<li t="teach_video_simple">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="/pm/theme2/img/avatar1.png"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">新手必看</a>
						<p class="txt-desc txt-ellipsis2">黄金和白银不是一种商品金属，它们过去曾在人类的历史、经济...</p>
					</div>
				</div>
			</li>
			<li t="teach_video_base">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="/pm/theme2/img/avatar2.png"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">基础进阶</a>
						<p class="txt-desc txt-ellipsis2">黄金和白银不是一种商品金属，它们过去曾在人类的历史、经济...</p>
					</div>
				</div>
			</li>
			<li t="teach_video_gw">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="/pm/theme2/img/avatar3.png"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">谈金论道</a>
						<p class="txt-desc txt-ellipsis2">黄金和白银不是一种商品金属，它们过去曾在人类的历史、经济...</p>
					</div>
				</div>
			</li>
			<li t="teach_video_expert">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="/pm/theme2/img/avatar1.png"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">专家锦囊</a>
						<p class="txt-desc txt-ellipsis2">黄金和白银不是一种商品金属，它们过去曾在人类的历史、经济...</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
<div class="bottom-fixed content_w">
	<div class="bottom-con plrall">
		<div class="infos-opbar list-col-3">
			<ul class="clearfix">
				<li>
					<a href="">
						<span class="top-icons i-demo"></span>
						<label>模拟开户</label>
					</a>
				</li>
				<li>
					<a href="">
						<span class="top-icons i-key2"></span>
						<label>真实开户</label>
					</a>
				</li>
				<!--li>
					<a href="">
						<span class="top-icons i-send2"></span>
						<label>分享</label>
					</a>
				</li-->
			</ul>
		</div>
	</div>
</div>