<div class="head-top head-fixed mt40 al-c">
	<a href="javascript:void(0);" class="btn-l" id="teachList_back"><i class="i-back"></i></a>
	<b id="teachListTitle">新手中级教程</b>
	<a href="javascript:void(0);" class="txt-btn btn-r">联系客服</a>
</div>
<section class="course-con mt84 mb50">
	<div class="listblock bgfff">
		<ul class="list" id = "teachList_articles">
			<li temp="teachList_article" _id="{3}">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="{0}"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">{1}</a>
						<p class="txt-desc txt-ellipsis2">{2}</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
<div class="bottom-fixed content_w">
	<div class="bottom-con plrall">
		<div class="infos-opbar list-col-3">
			<ul class="clearfix">
				<li>
					<a href="http://m.24k.hk/zh/account_02.html" target="_blank">
						<span class="top-icons i-demo"></span>
						<label>模拟开户</label>
					</a>
				</li>
				<li>
					<a href="http://m.24k.hk/realaccount_open.html" target="_blank">
						<span class="top-icons i-key2"></span>
						<label>真实开户</label>
					</a>
				</li>
				<!--li>
					<a href="">
						<span class="top-icons i-send2"></span>
						<label>分享</label>
					</a>
				</li-->
			</ul>
		</div>
	</div>
</div>