<div class="head-top head-fixed mt40 al-c" id="teach_header">
	<a href="javascript:void(0);" class="btn-l" id="teach_back"><i class="i-back"></i></a>
	<b id="teach_title">新手初级教程</b>
	<a href="javascript:void(0);" class="txt-btn btn-r"></a>
</div>
<section class="course-con mt84 mb50">
	<div class="listblock bgfff" id="primary">
		<ul class="list">
			<li t="1">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="/pm/theme2/img/pic-11.jpg"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">投资必投贵金属</a>
						<p class="txt-desc txt-ellipsis2">贵金属与股票、基金、债券并列全球四大投资品种，是全球投资机构必备的资产配置</p>
					</div>
				</div>
			</li>
			<li t="2">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="/pm/theme2/img/pic-11.jpg"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">秒懂做多做空</a>
						<p class="txt-desc txt-ellipsis2">做多即低买高卖，当预测金银价格上涨的时候，以较低的价格买入，等价格涨高之后再卖出，赚取差价</p>
					</div>
				</div>
			</li>
			<li t="3">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="/pm/theme2/img/pic-11.jpg"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">明明白白赚钱交费</a>
						<p class="txt-desc txt-ellipsis2">为了方便理解交易中的收费，首先你需要知道交易的全过程，建仓：新买入或卖出一定数量的黄金白银</p>
					</div>
				</div>
			</li>
			<li t="4">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="/pm/theme2/img/pic-11.jpg"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">正确的投资心态</a>
						<p class="txt-desc txt-ellipsis2">贵金属市场变幻莫测，要获得长期的投资盈利，除掌握正确的投资理念和投资方法外，还有一个关键因素</p>
					</div>
				</div>
			</li>
			<li t="5">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="/pm/theme2/img/pic-11.jpg"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">选择金道贵金属的3大理由</a>
						<p class="txt-desc txt-ellipsis2">业内领先，三大平台，极地成本，高速存取，专家团队，实力助阵，15小时直播</p>
					</div>
				</div>
			</li>
			<li temp="primaryVideo" t="{3}">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="{0}"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">{1}</a>
						<p class="txt-desc txt-ellipsis2">{2}</p>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="listblock bgfff" id="middle" style="display: none">
		<ul class="list">
			<li t="1">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="/pm/theme2/img/pic-12.jpg"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">1分钟看懂K线图</a>
						<p class="txt-desc txt-ellipsis2">贵金属盈利并不难，简单的K线图蕴含着不少秘密，只要您了解其中的门道，就能在市场中运筹帷幄</p>
					</div>
				</div>
			</li>
			<li t="2">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="/pm/theme2/img/pic-12.jpg"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">短线交易的6大法则</a>
						<p class="txt-desc txt-ellipsis2">抓住趋势，顺势交易，刚入市的投资者，建议只做稳健的单子，最好是顺势单。在大趋势上涨的时候</p>
					</div>
				</div>
			</li>
			<li t="3">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="/pm/theme2/img/pic-12.jpg"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">交易错方向怎么办</a>
						<p class="txt-desc txt-ellipsis2">贵金属市场和传统股票市场最大的区别就是可以做多、做空，但是一旦做错方向很多朋友都会慌张</p>
					</div>
				</div>
			</li>
			<li t="4">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="/pm/theme2/img/pic-12.jpg"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">如何利用“金字塔加仓”解套</a>
						<p class="txt-desc txt-ellipsis2">金道分析事推荐方法—金字塔式加仓，喜欢做贵金属的原油就是看中它的抗跌性</p>
					</div>
				</div>
			</li>
			<li t="5">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="/pm/theme2/img/pic-12.jpg"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">高杠杆是否意味高风险</a>
						<p class="txt-desc txt-ellipsis2">什么是杠杆交易？金融产品所使用的杠杆是指：把投入金额放大后在市场上交易较高价值的产品</p>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="listblock bgfff" id="advanced" style="display: none">
		<ul class="list">
<!--			<li t="teach_video_simple">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="/pm/theme2/img/avatar1.png"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">新手必看</a>
						<p class="txt-desc txt-ellipsis2">黄金和白银不是一种商品金属，它们过去曾在人类的历史、经济...</p>
					</div>
				</div>
			</li>
			<li t="teach_video_base">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="/pm/theme2/img/avatar2.png"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">基础进阶</a>
						<p class="txt-desc txt-ellipsis2">黄金和白银不是一种商品金属，它们过去曾在人类的历史、经济...</p>
					</div>
				</div>
			</li>
			<li t="teach_video_gw">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="/pm/theme2/img/avatar3.png"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">谈金论道</a>
						<p class="txt-desc txt-ellipsis2">黄金和白银不是一种商品金属，它们过去曾在人类的历史、经济...</p>
					</div>
				</div>
			</li>
			<li t="teach_video_expert">
				<div class="list-item-desced border-bt">
					<div class="list-thumb-left">
						<img src="/pm/theme2/img/avatar1.png"/>
					</div>
					<div class="list-main">
						<a href="javascript:void(0)" class="list-txt txt-ellipsis1">专家锦囊</a>
						<p class="txt-desc txt-ellipsis2">黄金和白银不是一种商品金属，它们过去曾在人类的历史、经济...</p>
					</div>
				</div>
			</li>-->
		</ul>
	</div>
</section>
<div class="bottom-fixed content_w">
	<div class="bottom-con plrall">
		<div class="infos-opbar list-col-3">
			<ul class="clearfix">
				<li>
					<a href="http://m.24k.hk/zh/account_02.html" target="_blank">
						<span class="top-icons i-demo"></span>
						<label>模拟开户</label>
					</a>
				</li>
				<li>
					<a href="http://m.24k.hk/realaccount_open.html" target="_blank">
						<span class="top-icons i-key2"></span>
						<label>真实开户</label>
					</a>
				</li>
				<!--li>
					<a href="">
						<span class="top-icons i-send2"></span>
						<label>分享</label>
					</a>
				</li-->
			</ul>
		</div>
	</div>
</div>