<header id="header">
	<section class="content_w clearfix">
		<div class="logobar">
			<!--<a href="" target="_blank">金道贵金属</a>-->
			<h1 class="hide-t">视频直播间</h1>
		</div>
		<!--div class="header_redbag fl" id="redPacket_header">
			<div class="redbag_pic"></div>
			<div class="rb_text">
				<div class="timecount">
					<b rp="minutesLabel"></b><span>分</span>
					<b rp="secondsLabel"></b><span>秒</span>
				</div>
			</div>
		</div-->
		<div class="rightbar">
			<!--<a href="https://wj.qq.com/s/969053/e2de" style="font: 12px/1.4 microsoft yahei;padding-left: 4px;color: #d66464;padding-right: 4px;" target="_blank" onclick="_gaq.push(['_trackEvent','pmchat_studio','header_wjqq','content_top',1,true]);">问卷调查</a>-->
			<a href="javascript:openQQChatByCommonjs('');" class="qq"><i></i></a>
			<a id="header_ui" href="javascript:void(0);" class="loginbtn">登录</a>
		</div>
	</section>
</header>
<div class="head-top head-fixed mt40 al-c">
	<a href="javascript:void(0);" id="back" class="btn-l"><i class="i-back"></i></a>
	<b id="groupName"></b>
	<a href="javascript:void(0);" class="menu-list btn-r">节目列表</a>
</div>
<section class="video-con mt84 mb50">
	<div class="video-play-box">
		<a href=""><img src="/pm/theme2/img/video-img.jpg" class="video-img" /></a>
	</div>
	<div class="audio-play-box dn">
		<a href=""><img src="/pm/theme2/img/audio-img.png" class="audio-img" /></a>
	</div>
	<div class="video-infos">
		<div class="infos-block plrall clearfix">
			<div class="avatar-info fl">
				<img src="/pm/theme2/img/avatar.png" class="img-avatar"/>
				<div class="a-top"><b id="lecturerName"></b><i class="i-dot3"></i></div>
			</div>
			<div class="infos-opbar">
				<ul class="clearfix">
					<li>
						<a href="javascript:void(0);" id="chatRoom">
							<span class="top-icons i-comments2"><i class="i-tips"></i></span>
							<p>聊天室</p>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<span class="top-icons i-key2"></span>
							<p>开户</p>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" id="switch-play">
							<span class="top-icons i-volume"></span>
							<label>转声音直播</label>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<section id="textlivePanel">

		</section>
	</div>
</section>
<div class="bottom-fixed content_w">
	<div class="bottom-con plrall">
		<div class="bt-infos-l fl">
			<p class="p1">白银<i class="arrow-d-red"></i>16.8060</p>
			<p class="p2">SSL<span>0.086(0.36%)</span></p>
		</div>
		<div class="infos-opbar">
			<ul class="clearfix">
				<li>
					<a href="javascript:void(0);">
						<span class="top-icons i-sdan"><i class="i-tips"></i></span>
						<label>晒单墙</label>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);">
						<span class="top-icons i-send2"></span>
						<label>分享</label>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>