<div class="head-top head-fixed mt40 al-c">
	<a href="javascript:void(0);" class="btn-l" id="noviceGuide_back"><i class="i-back"></i></a>
	<b id="noviceGuideTitle">新手中级教程</b>
	<a href="javascript:void(0);" class="txt-btn btn-r"></a>
</div>
<article class="course-con mt84 mb50">

	<section class="sroll-box">

		<div class="swiper-container">
			<ul class="clearfix swiper-wrapper">
				<li class="swiper-slide">
					<div class="title-bg"><img src="/pm/theme2/img/noviceGuide/title-bg.png" class="img-block"><span class="title-img"><img src="/pm/theme2/img/noviceGuide/title2-2.png"></span></div>

					<div class="titlecon0">
						<div class="imglist">
							<div class="imgcon"><img src="/pm/theme2/img/noviceGuide/imgtxt3-1.png"></div>
						</div>
						<div class="titledesc plr36">刚入市的投资者，建议只做稳健的单子，最好是顺势单。在大趋势上涨的时候，只做多单；在大趋势下跌的时候，只做空单。</div>


						<div class="imglist">
							<div class="imgcon"><img src="/pm/theme2/img/noviceGuide/imgtxt3-2.png"></div>
						</div>

					</div>
				</li>
				<li class="swiper-slide">

					<div class="titlecon0">
						<div class="imglist">
							<div class="imgcon"><img src="/pm/theme2/img/noviceGuide/imgtxt3-3.png"></div>
						</div>
						<div class="titledesc plr36">持仓时间最长的就几小时，最短的仅几分钟。果断进出，不要长时间持有亏损的单。另外，不随意留仓过夜，除非做的是中长线的趋势单。</div>


						<div class="imglist">
							<div class="imgcon"><img src="/pm/theme2/img/noviceGuide/imgtxt3-4.png"></div>
						</div>

					</div>
				</li>
				<li class="swiper-slide">

					<div class="titlecon0">
						<div class="imglist">
							<div class="imgcon"><img src="/pm/theme2/img/noviceGuide/imgtxt3-5.png"></div>
						</div>
						<div class="titledesc plr36">激进的策略轻仓操作，稳健的策略适当加仓操作。</div>


						<div class="imglist">
							<div class="imgcon"><img src="/pm/theme2/img/noviceGuide/imgtxt3-6.png"></div>
							<div class="imgcon"><img src="/pm/theme2/img/noviceGuide/imgtxt3-7.png"></div>
						</div>

					</div>
				</li>
				<li class="swiper-slide">

					<div class="titlecon0">
						<div class="imglist">
							<div class="imgcon"><img src="/pm/theme2/img/noviceGuide/imgtxt3-8.png"></div>
						</div>
						<div class="titledesc plr36">任何的交易策略都要带上止损，激进的策略更要有止损的保护！在价格下行中操作短线多单或上行中操作空单，都属于风险较大但收益较快的激进操作，因此止损必须设置。</div>


						<div class="imglist">
							<div class="imgcon"><img src="/pm/theme2/img/noviceGuide/imgtxt3-9.png"></div>
						</div>

					</div>
				</li>
				<li class="swiper-slide">

					<div class="titlecon0">
						<div class="imglist">
							<div class="imgcon"><img src="/pm/theme2/img/noviceGuide/imgtxt3-10.png"></div>
						</div>
						<div class="titledesc plr36">在这个市场里，要学会认输，不可能每次交易都 能盈利，关键是如何提高盈利的概率。在做错的时候， 就必须果断平仓。</div>


						<div class="imglist">
							<div class="imgcon"><img src="/pm/theme2/img/noviceGuide/imgtxt3-11.png"></div>
						</div>

					</div>
				</li>
				<li class="swiper-slide">

					<div class="titlecon0">
						<div class="imglist">
							<div class="imgcon"><img src="/pm/theme2/img/noviceGuide/imgtxt3-12.png"></div>
						</div>
						<div class="titledesc plr36">能够做到理性交易的人只占很少一部分，但是能赚钱的人都是这种人。交易心态一定要平稳，不受外因太多影响，赚钱的时候不能得意，亏钱的时候也不要懊恼。</div>


						<div class="imglist">
							<div class="imgcon"><img src="/pm/theme2/img/noviceGuide/imgtxt3-13.png"></div>
						</div>

					</div>
				</li>
			</ul>
			<nav class="swiper-pagination"></nav>
		</div>

	</section>
</article>