<div class="head-top head-fixed mt40 al-c">
	<a href="javascript:void(0);" class="btn-l" id="noviceGuide_back"><i class="i-back"></i></a>
	<b id="noviceGuideTitle">新手中级教程</b>
	<a href="javascript:void(0);" class="txt-btn btn-r"></a>
</div>
<article class="course-con mt84 mb50">

	<div class="btn-group fixedele al-c" style="margin-bottom:0px;"><a href="http://m.24k.hk/realaccount_open.html" class="btn btn-yellow btn-block" target="_blank">立即开户</a></div>
	<section class="sroll-box">

		<div class="swiper-container">
			<ul class="clearfix swiper-wrapper">
				<li class="swiper-slide">
					<div class="title-bg"><img src="/pm/theme2/img/noviceGuide/title-bg.png" class="img-block"><span class="title-img"><img src="/pm/theme2/img/noviceGuide/title2-1.png"></span></div>

					<div class="titlecon0">
						<div class="titlebar  plr36"><i class="i-dot"></i>K线图的盈利玄机</div>
						<div class="titledesc plr36">贵金属盈利并不难，简单的K线蕴含着的不少秘密，只要您了解了其中的门道，就能在市场中运筹帷幄！</div>

						<div class="numlist">
							<div class="numcon"><img src="/pm/theme2/img/noviceGuide/num-bg1.png" alt=""><div class="numtxt"><p><span>开盘价&#x3D;最高价，收盘价&#x3D;最低价，实体部分很长，俗称大阴线，表 示市场看跌氛围浓厚，后市继续看跌。</span></p></div></div>
							<div class="numcon"><img src="/pm/theme2/img/noviceGuide/num-bg2.png" alt=""><div class="numtxt"><p><span>开盘价&#x3D;最低价，收盘价&#x3D;最高价，市场开盘后行情就一直在涨，俗 称大阳线，表示市场买盘占据上风， 后市继续看涨。</span></p></div></div>
							<div class="numcon"><img src="/pm/theme2/img/noviceGuide/num-bg3.png" alt=""><div class="numtxt"><p><span>收盘价&#x3D;最低价，因此没有下影线，此时市场处于短期下跌趋势中， 做空力量占据上风。</span></p></div></div>
							<div class="numcon"><img src="/pm/theme2/img/noviceGuide/num-bg4.png" alt=""><div class="numtxt"><p><span>收盘价&#x3D;最高价，下影线较长， 实体较短，若它出现在下跌途中，我们俗称为锤子线，预示着下跌行情即 将出现逆转。</span></p></div></div>
							<div class="numcon"><img src="/pm/theme2/img/noviceGuide/num-bg5.png" alt=""><div class="numtxt"><p><span>收盘价&#x3D;最低价，上影线较长， 实体较短，若它出现在上涨途中，我们称之为流星线，预示着上涨行情即 将出现逆转。</span></p></div></div>
							<div class="numcon"><img src="/pm/theme2/img/noviceGuide/num-bg6.png" alt=""><div class="numtxt"><p><span>开盘、收盘、最低、最高价之间十分接近，不论颜色红绿，均显示行情波动较小，市场多空双方交投谨慎，按兵不动，后市极有可能出现突破行情。</span></p></div></div>
							<div class="numcon"><img src="/pm/theme2/img/noviceGuide/num-bg7.png" alt=""><div class="numtxt"><p><span>收盘价&#x3D;开盘价，显示多空双方 势均力敌，我们俗称为十字星，这是 一个十分危险的行情反转信号。</span></p></div></div>
						</div>


					</div>

					<div class="titlecon1">
						<div class="titledesc plr36">以上就是单根K线图的形态，通过这些形态发出 的信号，可以为我们做单提供较为准确的参考。</div>



					</div>
				</li>
			</ul>
			<nav class="swiper-pagination"></nav>
		</div>

	</section>
</article>