<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>

<head>
    <title>手机视频直播 - 首页</title>
    <meta name="keywords" content="手机视频直播" />
    <meta name="description" content="手机视频直播" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=no" name="format-detection">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <script type="text/javascript" src="/base/lib/store.min.js"></script>
    <script type="text/javascript" src="/base/lib/lazyload/lazyload.min.js"></script>
    <link rel="stylesheet" media="screen" href="/base/lib/swipe/swiper.min.css" />
    <link rel="stylesheet" media="screen" href="/base/lib/lightbox/lightbox.css" />
    <% if(isDevTest) { %>
        <link rel="stylesheet" media="screen" href="/theme2/css/index.css" />
        <link rel="stylesheet" media="screen" href="/theme2/css/guide.css" />
        <% }else{ %>
            <link rel="stylesheet" media="screen" href="/theme2/css/index.min.css?v=<%=version%>" />
        <% } %>
    <script type="text/javascript" src="/base/lib/store.min.js"></script>
    <script type="text/javascript" src="/theme2/js/store.js"></script>
    <script type="text/javascript" src="/theme2/js/<%= isDevTest ? 'loginAuto.js' : ('lg.min.js?v=' + version)%>"></script>
    <script>
        //自动登录中...
        LoginAuto.sessionUser = JSON.parse('<%- userInfo %>');
        LoginAuto.init();
        //自动登录完成
    </script>
</head>

<body class="home">
    <header id="header">
        <section class="content_w clearfix">
            <div class="logobar">
                <h1 class="hide-t">视频直播间</h1>
            </div>
            <div class="rightbar">
                <a href="javascript:Tool.OnlineCS.connect('pm', 'qq', 'mb')" class="qq"><i></i></a>
                <%if(userSession.isLogin){%>
                  <a href="javascript:void(0);" class="loginbtn"><%= userSession.nickname || "匿名_xxx" %></a>
                <%} else {%>
                   <a id="header_ui" href="javascript:void(0);" class="loginbtn">登录</a>
                <%}%>
            </div>
        </section>
    </header>
    <article class="content_w bgf2f2f2 dn" id="page_rooms">

    </article>
    <article class="content_w bgfff dn" id="page_room">

    </article>
    <article class="content_w bgfff dn" id="page_syllabus">

    </article>
    <article class="content_w bgfff dn" id="page_subscribe">

    </article>
    <article class="content_w bgfff dn" id="page_analyst">

    </article>
    <article class="content_w bgfff dn" id="page_showTrade">

    </article>
    <article class="content_w bgfff dn" id="page_userShowTrade">

    </article>
    <article class="content_w bgf2f2f2 dn" id="page_showTradeAdd">

    </article>
    <article class="content_w bgf2f2f2 dn" id="page_trains">

    </article>
    <article class="content_w login-fix dn" id="page_login">

    </article>
    <article class="content_w blke3e3ea dn" id="page_novice">

    </article>

    <article class="content_w blke3e3ea dn" id="page_teach">

    </article>
    <article class="content_w blke3e3ea dn" id="page_teachList">

    </article>
    <article class="content_w blke3e3ea dn" id="page_noviceGuide">

    </article>
    <article class="content_w bgf2f2f2 dn" id="page_privateChat">

    </article>
    <article class="content_w bgf2f2f2 dn" id="page_videoPlayer">

    </article>
    <article class="content_w bgfff dn" id="page_classNote">

    </article>
    <% include pop.html %>

        <script type="text/javascript">
            function pageFunc() {
                Data.userInfo = LoginAuto.sessionUser;
                Data.mobile24kPath = '<%= mobile24kPath %>';
                Data.apiUrl = '<%= apiUrl %>';
                Data.filePath = '<%= filePath %>';
                Data.options = Util.parseJSON('<%- options%>') || {};
                Data.syllabusData = Util.parseJSON('<%- syllabusData%>');
                Data.serverTime = Number('<%= serverTime %>');
                Data.socketUrl = Util.parseJSON('<%- socketUrl %>');
                Index.init();
                lightbox.option({
                    'resizeDuration': 200,
                    'wrapAround': true,
                    'disableScrolling': true,
                    'positionFromTop': 200,
                    'showImageNumberLabel': false
                });
            }
        </script>
        <% if(isDevTest) { %>
            <script type="text/javascript" src="/base/lib/jquery-1.7.min.js"></script>
            <script type="text/javascript" src="/base/lib/socket.io.js"></script>
            <script type="text/javascript" src="/base/lib/websocket.min.js"></script>
            <script type="text/javascript" src="/base/lib/swipe/swiper.min.js"></script>
            <script type="text/javascript" src="/base/lib/lightbox/lightbox.min.js"></script>
            <script type="text/javascript" src="/base/lib/lazyload/img.lazyload.js"></script>
            <script type="text/javascript" src="/base/lib/toucher.js"></script>
            <script type="text/javascript" src="/base/lib/iphone-inline-video.browser.js"></script>

            <script type="text/javascript" src="/theme2/js/chatAnalyze.js"></script>
            <script type="text/javascript" src="/theme2/js/container.js"></script>
            <script type="text/javascript" src="/theme2/js/pop.js"></script>
            <script type="text/javascript" src="/theme2/js/login.js"></script>
            <script type="text/javascript" src="/theme2/js/chat.js"></script>
            <script type="text/javascript" src="/theme2/js/classNote.js"></script>
            <script type="text/javascript" src="/theme2/js/data.js"></script>
            <script type="text/javascript" src="/theme2/js/index.js"></script>
            <script type="text/javascript" src="/theme2/js/loginAuto.js"></script>
            <script type="text/javascript" src="/theme2/js/player.js"></script>
            <script type="text/javascript" src="/theme2/js/room.js"></script>
            <script type="text/javascript" src="/theme2/js/rooms.js"></script>
            <script type="text/javascript" src="/theme2/js/store.js"></script>
            <script type="text/javascript" src="/theme2/js/subscribe.js"></script>
            <script type="text/javascript" src="/theme2/js/syllabus.js"></script>
            <script type="text/javascript" src="/theme2/js/analyst.js"></script>
            <script type="text/javascript" src="/theme2/js/showTrade.js"></script>
            <script type="text/javascript" src="/theme2/js/userShowTrade.js"></script>
            <script type="text/javascript" src="/theme2/js/showTradeAdd.js"></script>
            <script type="text/javascript" src="/theme2/js/trains.js"></script>
            <script type="text/javascript" src="/theme2/js/tool.js"></script>
            <script type="text/javascript" src="/theme2/js/util.js"></script>
            <script type="text/javascript" src="/theme2/js/novice.js"></script>
            <script type="text/javascript" src="/theme2/js/teach.js"></script>
            <script type="text/javascript" src="/theme2/js/noviceGuide.js"></script>
            <script type="text/javascript" src="/theme2/js/privateChat.js"></script>
            <script type="text/javascript" src="/theme2/js/videoPlayer.js"></script>
            <script type="text/javascript" src="/theme2/js/yylive2.js"></script>
            <script type="text/javascript">
                $(pageFunc);
            </script>
            <% }else{ %>
                <script type="text/javascript" src="/base/lib/basket.min.js"></script>
                <script type="text/javascript">
                    basket.version = '<%=version%>';
                    basket.require(
                            {
                                url: "/theme2/js/lib.min.js?v=<%=version%>"
                            },
                            {
                                url: "/theme2/js/index.min.js?v=<%=version%>"
                            }, null).then(pageFunc);
                </script>
                <% } %>
</body>

</html>