<div class="popup look-data" id="pop_msg">
    <div class="popcon">
        <span class="close-pop" id="pop_msgClose"></span>
        <div class="pop-main">
            <p class="pop-msg al-c" id="pop_msgTxt">消费500积分</p>
            <div class="al-c" id="pop_msgBtn">
                <a href="javascript:void(0);" class="btn btn-blue pop-submit">确定</a>
            </div>
        </div>
    </div>
</div>

<!-- 未登录提示 -->
<div class="popup look-data dn">
    <div class="popcon">
        <span class="close-pop i-close-pop"></span>
        <div class="pop-main">
            <p class="pop-msg al-c">该内容仅对会员用户开放</p>
            <div class="al-c">
                <a href="javascript:void(0);" class="btn btn-blue btn-auto pop-submit">注册会员，享受权益 </a>
                <div class="blk7"></div>
                <p><a href="javascript:void(0);" class="a-link">已经是会员，去登录 </a></p>
            </div>
        </div>
    </div>
</div>

<!-- 查看喊单数据提示 -->
<div class="popup look-data">
    <div class="popcon">
        <span class="close-pop" style="display: none;"></span>
        <div class="pop-main">
            <p class="pop-msg al-c">消费500积分</p>
            <div class="al-c clearfix">
                <a href="javascript:void(0);" class="btn btn-blue-default pop-cancel fl">取消</a>
                <a href="javascript:void(0);" class="btn btn-blue pop-submit fr">确定</a>
            </div>
        </div>
    </div>
</div>

<!-- 签到 -->
<!--<div class="popup sign-pop dn">
    <div class="animatebox amin">
        <i class="i-line" style="height: 245px;"></i>
        <div class="popcon">
            <span class="close-pop i-close4"></span>
            <div class="sign-main" style="height: auto;">
                <img src="/theme2/img/sign-pic.png" class="sign-pic">
                <p class="pop-msg al-c">签到可获积分哟！ <span>积分可领更多福利！</span></p>
                <div class="al-c clearfix btn-group">
                    <a href="javascript:void(0);" class="btn btn-blue sign-btn">签到</a>
                </div>
                <div class="feedback_bar al-c">
                    <span class="checkbox-cm">
	                    <input type="checkbox" id="notipme" class="auto-login"><label for="notipme">不再提示我</label>
	                </span>
                </div>
            </div>
            &lt;!&ndash; 签到成功 &ndash;&gt;
            <div class="sign-main sign-result dn">
                <div class="pop-light"></div>
                <img src="/theme2/img/sign-pic2.png" class="sign-pic">
                <p class="pop-msg al-c"><b>签到成功</b> <span class="fz14"> 积分增加3个点！</span></p>
            </div>
        </div>
    </div>
</div>-->
<%if(isRedPacket) {%>
    <!-- 抢红包-未登录状态 -->
    <div class="redbag_pop nologin dn" id="redPacket_noLogin">
        <div class="cont">
            <div class="rb_top">
                <span><i></i>登录金道实时解盘<i></i></span>
                <h4>抢大量<b>5</b>~<b>30</b>元微信现金红包</h4>
            </div>
            <a href="javascript:void(0)" id="redPacket_loginBtn" class="rb_btn"><i class="reg">马上登录</i><b class="bg"><b></b></b></a>
            <div class="pop_close"><a href="javascript:void(0)">关闭</a></div>
        </div>
    </div>
    <!-- 抢红包-已登录状态 -->
    <div class="redbag_pop dn" id="redPacket_normal">
        <div class="cont">
            <div class="rb_top2">
                <span>开抢倒计时</span>
                <div class="timecount">
                    <span><b rp="minutesLabel"></b>分</span>
                    <span><b rp="secondsLabel"></b>秒</span>
                </div>
            </div>
            <a href="javascript:void(0)" class="rb_btn ani" id="redPacket_rob"><i class="">抢</i><b class="bg"><b></b></b></a>
            <a href="javascript:void(0)" class="rb_btn wait" id="redPacket_wait"><i class="wait">等待开抢</i><b class="bg"><b></b></b></a>
            <div class="rb_tip">
                <div class="rbnum">第<span rp="timesLabel"></span>波微信红包</div>
                <div class="tspan">
                    实时解盘时段内每5分钟将有<br>一大波5-30元微信现金红包来袭！<br>人人有份，即刻开抢啦！
                    <div class="dashang_rule">
                        <a href="javascript:void(0)">活动规则<i></i></a>
                        <div class="ds_rulecont">
                            <div class="arr"><i></i><i class="i2"></i></div>
                            <div class="scrollbox">
                                <span><b>•</b>活动规则</span>
                                <ul>
                                    <li>1.活动期间，金道实时解盘课程时段内，每隔5分钟将发放一波奖金红包，所有实时解盘注册客户皆可参与“全民抢红包”活动，客户所中奖金将通过微信发放；</li>
                                    <li>2.活动期间，中奖客户如中奖后首次注资激活账户，则抽中的红包奖金将翻倍，客户注资成功后请联系实时解盘助理登记验证，以发放双倍红包奖金；</li>
                                    <li>3.中奖客户需要同步关注分析师微信，并提供中奖手机号码至分析师验证，以便分析师发放奖金红包；</li>
                                    <li>4.活动期间，当天中奖客户将于次日15点统一安排奖金红包的发放，如客户7月31日中奖，则奖金红包于8月1日15:00点统一安排发放；如遇周末或法定假期，则顺延至上班后第1个工作日发放。</li>
                                    <li>5.金道保留随时修订、暂停、终止本活动及任何相关规则条款之权利及其解释权。</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pop_close"><a href="javascript:void(0)">关闭</a></div>
        </div>
    </div>

    <!-- 抢红包-结果页-无奖 -->
    <div class="redbag_pop rb_result dn" id="redPacket_resNo">
        <div class="cont">
            <div class="rb_top2">
                <span><i></i>差一点点就中奖了！<i></i></span>
                <span class="sp2"><b>5分钟</b>后又有一大波红包来袭，<br>机会多多，洗洗手再来！</span>
            </div>
            <div class="rb_tip2">
                <div class="tspan"><b>扫码关注分析师发送“赚钱”,<br>领取独家投资秘籍一份 </b></div>
            </div>
            <div class="qrcode-con">
                <img src="" alt="" <b rp="wechatImg"></b>
                <p class="p1"> <span>微信号：<b rp="wechatCode"></b></span></p>
            </div>
            <div class="pop_close"><a href="javascript:void(0)">关闭</a></div>
        </div>
    </div>

    <!-- 抢红包-结果页-中奖！ -->
    <div class="redbag_pop rb_result2 dn" id="redPacket_resYes">
        <div class="cont">
            <div class="congratulation">恭喜获得<br /><b rp="money"></b>元微信红包
                <p>若当天注资激活可获得<b rp="doubleMoney"></b>元！</p>
            </div>
            <div class="rb_tip2">
                <div class="tspan">老师微信二维码</div>
            </div>
            <div class="qrcode-con">
                <img src="" alt="" rp="wechatImg">
                <p class="p1"> <span>微信号：<b rp="wechat"></b></span></p>
                <p class="p2"><b>兑奖办法：</b>请扫码关注上方分析师微信，并提供您的中奖手机号码给分析师验证并领取现金红包！</p>
            </div>
            <div class="pop_close"><a href="javascript:void(0)">关闭</a></div>
        </div>
    </div>


    <!-- 抢红包-5秒倒计时 -->
    <div class="redbag_pop pop2 dn" id="redPacket_mini">
        <div class="cont">
            <div class="rb_top2">
                <span>开抢倒计时</span>
            </div>
            <a href="javascript:void(0)" class="rb_btn ani" id="redPacket_miniRob"><i class="">抢</i><b class="bg"><b></b></b></a>
            <a href="javascript:void(0)" class="rb_btn wait" id="redPacket_miniWait"><i class="t5" rp="seconds"></i><b class="bg"><b></b></b></a>
            <div class="rb_tip">
                <div class="rbnum">第<span rp="timesLabel"></span>波微信红包</div>
                <div class="rb_check">
                    <span class="rb_checkbox"><input type="checkbox" id="redPacket_popFlag"><label for="redPacket_popFlag"><i></i></label></span>
                    <span class="ctext">勾选后不再弹出提醒</span>
                </div>
            </div>
            <div class="pop_close"><a href="javascript:void(0)">关闭</a></div>
        </div>
    </div>
    <%}%>

        <%if(isShowTrade) {%>
            <!-- 晒单层 -->
            <div class="shadow dn"></div>
            <div class="shaidan-conbox dn">
                <div class="shaidan-ban">
                    <a href="javascript://" class="del-btn"></a>
                    <a href="javascript://" class="shaidan-btn">马上晒单</a>
                </div>
                <div class="shadan-cbox">
                    <p class="tishi-text">活动期间，客户于交易平台平仓后，在实时解盘晒单抢楼，即可获得拍立得相机等丰富好礼，<span class="red">10000</span>元奖品等你来拿！</p>
                    <div class="shadan-item">
                        <div class="shadan-prize">
                            <ul>
                                <li>
                                    <div class="shadan-pbord">
                                        <i class="shadan-jiang">一等奖<s class="hguang"></s></i>
                                        <div class="shadan-qian">
                                            <div class="shadan-im"></div>
                                            <p>1499元<br>拍立得相机</p>
                                        </div>
                                        <p class="shadan-list">第<span>168</span>楼<br>晒单用户获得</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="shadan-pbord">
                                        <i class="shadan-jiang jiang-f2">二等奖</i>
                                        <div class="shadan-qian">
                                            <div class="shadan-im shadan-i1"></div>
                                            <p>100元<br>中石化加油卡</p>
                                        </div>
                                        <p class="shadan-list">第<span>88</span>楼<br>晒单用户获得</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="shadan-pbord">
                                        <i class="shadan-jiang jiang-f3">三等奖</i>
                                        <div class="shadan-qian">
                                            <div class="shadan-im shadan-i2"></div>
                                            <p>30元<br>手机充值卡</p>
                                        </div>
                                        <p class="shadan-list">第<span>18</span>楼<br>晒单用户获得</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="shadan-pbord">
                                        <i class="shadan-jiang jiang-f3">四等奖</i>
                                        <div class="shadan-qian shadan-i3">
                                            <div class="shadan-im shadan-i3"></div>
                                            <p>5元<br>微信红包</p>
                                        </div>
                                        <p class="shadan-list">楼数逢尾数6<br>晒单用户获得</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="rule-cbox">
                            <a href="javascript://" class="rule-btn">活动条款 &gt;</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 晒单抽奖规则 -->
            <div class="shaidan-rule-con dn">
                <a href="javascript://" class="del-btn"></a>
                <div class="zhuan-cen-rd">
                    <h3 class="lay-h-fon"><span>活动条款</span></h3>
                    <div class="rull-hei">
                        <div class="hd-rule-list" id="content-d3">
                            <ol>
                                <li>活动时间：2017年7月3日-2017年7月16日<br />第一期活动：参与晒单的有效订单平仓时间：7月3日06:00:00-7月8日04:44:59<br />有效晒单时间：7月3日06:00:00-7月9日23:59:59<br />第二期活动：参与晒单的有效订单平仓时间：7月10日06:00:00-7月15日04:44:59<br />有效晒单时间：7月10日06:00:00-7月16日23:59:59</li>
                                <li>客户参与活动的晒单必须是在活动期间内交易平仓的订单，且每次晒单的平仓订单笔数≥2笔，且每次平仓后第一次晒单，视为有效晒单；客户同一平仓订单第二次及以上晒单或同一晒单多次刷屏，视为无效晒单，只记录客户该笔单的第一次晒单；</li>
                                <li>晒单楼数依次从距离活动结束时间最近的晒单开始计数，例如：第一期活动结束时间为7月9日23:59:59，客户若在7月9日23:59:59晒单成功，此客户晒单为第1楼，以此类推；</li>
                                <li>同一客户（同一手机号码及同一身份ID）每期有1次获奖机会；在活动期间（2期）同一客户最多2次获奖机会；若同一个用户在同一期活动中第二次获奖，则该用户第一次获奖有效，第二次获奖则视为无效，此次中奖名单将顺延至下一楼，如活动第一期，1等奖第168楼晒单客户与3等奖第18楼为同一客户，则1等奖中奖客户顺延至169楼（即第169楼获得1等奖）；</li>
                                <li>获奖的客户名单统一在金道贵金属实时解盘banner和金道贵金属APP推送消息中公布；</li>
                                <li>第一期获奖名单公布时间为7月12日10：00；第二期获奖名单公布时间为7月19日10：00；</li>
                                <li>实物奖品随机发放，奖品颜色不能更换，奖品寄出时间以快递揽件为准，实物奖的售后服务由其特约维修商承担；</li>
                                <li>现金奖励以及电子卡奖励，将统一在7月28日之前发放完毕，实物奖统一在7月31日前发放完毕；</li>
                                <li>金道保留随时修订、暂停、终止本活动及任何相关规则条款之权利及其解释权。</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>