<div class="popup look-data" id="pop_msg">
    <div class="popcon">
        <span class="close-pop" id="pop_msgClose"></span>
        <div class="pop-main">
            <p class="pop-msg al-c" id="pop_msgTxt">消费500积分</p>
            <div class="al-c" id="pop_msgBtn">
                <a href="javascript:void(0);" class="btn btn-blue pop-submit">确定</a>
            </div>
        </div>
    </div>
</div>

<!-- 未登录提示 -->
<div class="popup look-data dn">
    <div class="popcon">
        <span class="close-pop i-close-pop"></span>
        <div class="pop-main">
            <p class="pop-msg al-c">该内容仅对会员用户开放</p>
            <div class="al-c">
                <a href="javascript:void(0);" class="btn btn-blue btn-auto pop-submit">注册会员，享受权益 </a>
                <div class="blk7"></div>
                <p><a href="javascript:void(0);" class="a-link">已经是会员，去登录 </a></p>
            </div>
        </div>
    </div>
</div>

<!-- 查看喊单数据提示 -->
<div class="popup look-data">
    <div class="popcon">
        <span class="close-pop" style="display: none;"></span>
        <div class="pop-main">
            <p class="pop-msg al-c">消费500积分</p>
            <div class="al-c clearfix">
                <a href="javascript:void(0);" class="btn btn-blue-default pop-cancel fl">取消</a>
                <a href="javascript:void(0);" class="btn btn-blue pop-submit fr">确定</a>
            </div>
        </div>
    </div>
</div>

<!-- 签到 -->
<div class="popup sign-pop dn">
    <div class="animatebox amin">
        <i class="i-line" style="height: 245px;"></i>
        <div class="popcon">
            <span class="close-pop i-close4"></span>
            <div class="sign-main" style="height: auto;">
                <img src="/theme2/img/sign-pic.png" class="sign-pic">
                <p class="pop-msg al-c">签到可获积分哟！ <span>积分可领更多福利！</span></p>
                <div class="al-c clearfix btn-group">
                    <a href="javascript:void(0);" class="btn btn-blue sign-btn">签到</a>
                </div>
                <div class="feedback_bar al-c">
	                <span class="checkbox-cm">
	                    <input type="checkbox" id="notipme" class="auto-login"><label for="notipme">不再提示我</label>
	                </span>
                </div>
            </div>
            <!-- 签到成功 -->
            <div class="sign-main sign-result dn">
                <div class="pop-light"></div>
                <img src="/theme2/img/sign-pic2.png" class="sign-pic">
                <p class="pop-msg al-c"><b>签到成功</b> <span class="fz14"> 积分增加3个点！</span></p>
            </div>
        </div>
    </div>
</div>