<div class="head-top head-fixed mt40 al-c">
	<a href="javascript:void(0);" class="btn-l" id="noviceGuide_back"><i class="i-back"></i></a>
	<b id="noviceGuideTitle">新手中级教程</b>
	<a href="javascript:void(0);" class="txt-btn btn-r"></a>
</div>

<article class="course-con mt84">

	<section class="sroll-box">

		<div class="swiper-container11">
			<ul class="clearfix swiper-wrapper">
				<li class="swiper-slide">
					<div class="title-bg"><img src="/theme2/img/noviceGuide/title-bg.png" class="img-block"><span class="title-img"><img src="/theme2/img/noviceGuide/title01.png"></span></div>

					<div class="titlecon0">
						<div class="titlebar  plr36"><i class="i-dot"></i>市场眼中的贵金属</div>
						<div class="titledesc plr36">贵金属与股票、基金、债券并列全球四大投资品 种，是全球投资机构必备的资产配置。</div>
						<div class="badge-group plr36">
							<span class="badge-yellow">贵金属</span>
							<span class="badge-red">股票</span>
							<span class="badge-blue">基金</span>
							<span class="badge-deepgreen">债券</span>
						</div>


					</div>

					<div class="titlecon1">
						<div class="titlebar  plr36"><i class="i-dot"></i>投资人眼中的贵金属</div>

						<div class="imgcon"><img src="/theme2/img/noviceGuide/imgtxt01.png"></div>

					</div>

					<div class="titlecon2">
						<div class="titlebar  plr36"><i class="i-dot"></i>大妈眼中的贵金属</div>

						<div class="imgcon"><img src="/theme2/img/noviceGuide/imgtxt02.png"></div>

					</div>

					<div class="titlecon3">
						<div class="titlebar  plr36"><i class="i-dot"></i>分析师眼中的贵金属</div>

						<div class="imgcon"><img src="/theme2/img/noviceGuide/imgtxt03.png"></div>

					</div>
				</li>
				<li class="swiper-slide">

					<div class="titlecon0">
						<div class="titlebar  plr36"><i class="i-dot"></i>即买即卖，赚快钱</div>
						<div class="titledesc plr36">贵金属用的是T+0机制，可以随时买随时卖，把握每天N轮行情，股票采用T+1机制，当日买进的，要到下一个交易日才能卖出，贵金属交易更加方便。</div>

						<div class="imglist">
							<div class="imgcon"><img src="/theme2/img/noviceGuide/imgtxt04.png"></div>
							<div class="imgcon"><img src="/theme2/img/noviceGuide/imgtxt05.png"></div>
							<div class="imgcon"><img src="/theme2/img/noviceGuide/imgtxt06.png"></div>
						</div>

					</div>
				</li>
				<li class="swiper-slide">

					<div class="titlecon0">
						<div class="titlebar  plr36"><i class="i-dot"></i>双向交易，涨跌都赚</div>
						<div class="titledesc plr36">在贵金属交易中，存在两种交易方式，做多和做空。</div>

						<div class="imglist">
							<div class="imgcon"><img src="/theme2/img/noviceGuide/imgtxt07.png"></div>
							<div class="imgcon"><img src="/theme2/img/noviceGuide/imgtxt08.png"></div>
						</div>
						<div class="txtlist plr36">
							<div class="txtcon"><i class="i-dollar"></i><p>无论任何时刻，只要对趋势方向判断正确，都可以赚钱</p></div>
							<div class="txtcon"><i class="i-dollar"></i><p>贵金属以美元报价，但存取款可使用人民币网银操 作，银行自动兑换美元，方便快捷</p></div>
						</div>

					</div>
				</li>
				<li class="swiper-slide">

					<div class="titlecon0">
						<div class="titlebar  plr36"><i class="i-dot"></i>保证金机制，本金投入少</div>
						<div class="titledesc plr36">保证金是指交易中的抵押金，通过保证金交易， 可以用较小的资金作为按金去投资价值较大的合约。</div>

						<div class="imglist">
							<div class="imgcon"><img src="/theme2/img/noviceGuide/imgtxt09.png"></div>
						</div>

					</div>

					<div class="titlecon1">
						<div class="titlebar  plr36"><i class="i-dot"></i>交易时间长，晚上也能炒</div>
						<div class="badge-group badgecomplex plr36">
							<div class="badgedesc">
								<span class="badge-red">上交所</span>
								<p>上午09:00-11:30，下午13:30-15:30，</p>
								<p>夜晚20:00-次日02:30 （时长11小时）</p>
							</div>
							<div class="badgedesc">
								<span class="badge-yellow">国际盘</span>
								<p>夏令时早6点~次日晨5点，周六04:45休市</p>
								<p>冬令时早7点~次日晨6点，周六05:45休市（时长23小时）</p>
							</div>
							<div class="badgedesc">
								<p><span class="badgelabel">国际节假日休市</span></p>
								<div class="badgedesccon">
									<img src="/theme2/img/noviceGuide/bg01.png" class="badgedescimg">
									国际盘中欧美市场交易最为活跃，因存在时差的原因，行情往往出现在晚上，白天上班晚上炒金，交易机会更多，更是吸引投资者的一大主因
								</div>
							</div>
						</div>


					</div>
				</li>
				<li class="swiper-slide">


					<div class="titlecon1">

						<div class="imglist">
							<div class="imgpiccon"><img src="/theme2/img/noviceGuide/imgtxt10.png"></div>
							<div class="imgpiccon"><img src="/theme2/img/noviceGuide/imgtxt11.png"></div>
							<div class="imgpiccon"><img src="/theme2/img/noviceGuide/imgtxt12.png"></div>
						</div>
						<div class="btn-group al-c"><a href="http://m.24k.hk/realaccount_open.html" class="btn btn-yellow" target="_blank">立即开户</a></div>

					</div>
				</li>
			</ul>
			<nav class="swiper-pagination swiper-pagination11"></nav>
		</div>

	</section>
</article>

