<div class="head-top head-fixed mt40 al-c">
	<a href="javascript:void(0);" class="btn-l" id="noviceGuide_back"><i class="i-back"></i></a>
	<b id="noviceGuideTitle">新手中级教程</b>
	<a href="javascript:void(0);" class="txt-btn btn-r"></a>
</div>
<article class="course-con mt84 ">

	<section class="sroll-box">

		<div class="swiper-container">
			<ul class="clearfix swiper-wrapper">
				<li class="swiper-slide">
					<div class="title-bg"><img src="/theme2/img/noviceGuide/title-bg.png" class="img-block"><span class="title-img"><img src="/theme2/img/noviceGuide/title03.png"></span></div>

					<div class="titlecon0">
						<div class="titlebar  plr36"><i class="i-dot"></i>为了方便理解交易中的收费，首先你需要 知道交易的全过程：</div>
						<div class="badge-group badgecomplex plr36">
							<div class="badgedesc">
								<span class="badge-yellow">建仓</span>
								<p>新买入或卖出一定数量的黄金白银</p>
							</div>
							<div class="badgedesc">
								<span class="badge-red">持仓</span>
								<p>持有这笔买入或卖出的黄金白银</p>
							</div>
							<div class="badgedesc">
								<span class="badge-blue">平仓</span>
								<p>针对持仓方向做相反的同等数量的买卖， 以了结此笔黄金白银的交易</p>
							</div>
						</div>



					</div>

					<div class="titlecon1">
						<div class="titlebar  plr36"><i class="i-dot"></i>交易全过程中会收取哪些费用？</div>
						<div class="imglist">
							<div class="imgcon"><img src="/theme2/img/noviceGuide/imgtxt2-2.png"></div>
						</div>
						<div class="titledesc plr36">在当日平仓的情况下，只收取点差，若非当日平仓，会按日收取隔夜利息</div>
						<div class="badge-group badgecomplex plr36">
							<div class="badgedesc">
								<p class="hasarrow"><span class="badgelabel"><i class="i-arrow-t"></i>金道贵金属无其他任何交易手续费</span></p>
							</div>
						</div>



					</div>
				</li>
				<li class="swiper-slide">

					<div class="titlecon0">
						<div class="titlebar  plr36"><i class="i-dot"></i>点差费用</div>
						<div class="titledesc plr36">点差是在任何时点买入价和卖出价的价差，相当于股票交易中券商所收取的手续费；伦敦金点差为0.5美元/盎司、伦敦银点差为0.04美元/盎司</div>



					</div>

					<div class="titlecon1">
						<div class="titlebar  plr36"><i class="i-dot"></i>计算公式</div>
						<div class="badge-group badgecomplex plr36">
							<div class="badgedesc">
								<div class="badgelabel labelblock">
									<span>（买入价-卖出价）x 合约单位 x 手数 &#x3D; 点差费用</span>
									<span>（1247.30-1246.80）x 100 x 1 &#x3D; 50</span>
								</div>
							</div>
						</div>


						<div class="imglist">
							<div class="imgcon"><img src="/theme2/img/noviceGuide/imgtxt2-3.png"></div>
							<div class="imgcon"><img src="/theme2/img/noviceGuide/imgtxt2-4.png"></div>
						</div>
						<div class="titleeg plr36"><b>手：</b><p class="eg1">手数是交易买卖单位，最小买卖单位为0.01手</p></div>
						<div class="titleeg plr36"><b>合约单位：</b><p class="eg4">合约单位是指交易1手伦敦金/银合约的数量。一手伦敦金的合约单位为100盎司，一手伦敦银的合约单位为5000盎司。</p></div>
						<div class="titleeg plr36"><b>盎司：</b><p class="eg2">是国际计量单位，相当于千克、克、两的说法</p></div>

					</div>
				</li>
				<li class="swiper-slide">

					<div class="titlecon0">
						<div class="titlebar  plr36"><i class="i-dot"></i>隔夜利息费</div>
						<div class="titledesc plr36">隔夜利息是持仓过夜（超过当日结算时间）所产 生的利息费用</div>



					</div>

					<div class="titlecon1">
						<div class="titlebar  plr36"><i class="i-dot"></i>结算时间</div>
						<div class="badge-group badgecomplex plr36">
							<div class="badgedesc">
								<span class="badge-red">夏令时</span>
								<p>星期二到星期五每日凌晨05:00，周六凌 晨04:45</p>
							</div>
							<div class="badgedesc">
								<span class="badge-yellow">冬令时</span>
								<p>星期二到星期五每日凌晨06:00，周六凌 晨05:45</p>
							</div>
						</div>



					</div>

					<div class="titlecon2">
						<div class="titlebar  plr36"><i class="i-dot"></i>计算公式</div>
						<div class="titledesc plr36">隔夜利息&#x3D;建仓价x合约单位x手数x利率x(日数/360)</div>


						<div class="imglist">
							<div class="imgcon"><img src="/theme2/img/noviceGuide/imgtxt2-5.png"></div>
							<div class="imgcon"><img src="/theme2/img/noviceGuide/imgtxt2-6.png"></div>
						</div>
						<div class="txtlist plr36">
							<div class="txtcon"><i class="i-light"></i><p>账户级别越高利率、点差优惠越大哦！</p></div>
						</div>
						<div class="badge-group badgeindent plr36">
							<div class="badgedesc">
								<div class="badgelabel labelblock">
									<span>若持仓跨越周末的休市，会收取周五、周六 和周日三天利息。</span>
								</div>
							</div>
						</div>

					</div>
				</li>
				<li class="swiper-slide">

					<div class="titlecon0">
						<div class="titlebar  plr36"><i class="i-dot"></i>交易纯利润</div>
						<div class="badge-group badgecomplex plr36">
							<div class="badgedesc">
								<div class="badgelabel labelblock">
									<span>(卖出价－买入价)×合约单位×手数－隔夜利息 </span>
									<span>&#x3D;交易纯利润</span>
								</div>
							</div>
						</div>



					</div>

					<div class="titlecon1">
						<div class="titlebar  plr36"><i class="i-dot"></i>测试</div>
						<div class="titledesc plr36">1000美元总资金，1200美元时买入1手伦敦金，在持仓次日于1205美元/盎司的价格全部平仓，隔夜利息是多少？交易纯利润多少？</div>



					</div>

					<div class="titlecon2">
						<div class="titlebar  plr36"><i class="i-dot"></i>测试答案</div>
						<div class="imglist">
							<div class="imgcon"><img src="/theme2/img/noviceGuide/imgtxt2-7.png"></div>
						</div>
						<div class="titledesc plr36">隔夜利息 &#x3D; 1200 x 100 x 1 x 1.45% x 1/360 ＝ 4.83美元</div>
						<div class="titledesc plr36">交易纯利润&#x3D;（1205-1200）x 100 x 1- 4.83 ＝ 495.17美元</div>


						<div class="imglist">
							<div class="imgcon"><img src="/theme2/img/noviceGuide/imgtxt2-8.png"></div>
						</div>
						<div class="btn-group al-c"><a href="http://m.24k.hk/realaccount_open.html" class="btn btn-yellow btn-pos-inline" target="_blank">立即开户</a></div>

					</div>
				</li>
			</ul>
			<nav class="swiper-pagination"></nav>
		</div>

	</section>
</article>