<!doctype html>
<html style="height: 100%; width: 100%;">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="always" name="referrer">
    <meta charset="utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>手机视频在线</title>
    <meta name="keywords" content="手机视频在线" />
    <meta name="description" content="手机视频在线" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <script type="text/javascript" src="/base/lib/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="/base/lib/lazyload/lazyload.min.js"></script>
    <script type="text/javascript" src="/base/lib/obsplayer/obsplayer.min.js"></script>
</head>

<body style="margin: 0;padding: 0;background: #000000; width: 100%; height: 100%;">
    <div id="playerPanel" style="height: 100%; width: 100%; overflow: hidden;">

    </div>
    <script>
        /**
         * 播放器
         */
        var player = {
            /**
             * 视频数据
             * @param $panel
             * @param key
             * @param value
             * @returns {*}
             */
            videoData: function($panel, key, value) {
                var data = $panel.data("videoData") || {};
                if (arguments.length == 3) {
                    data[key] = value;
                    $panel.data("videoData", data);
                    return data;
                } else {
                    return data[key];
                }
            },

            /**
             * 使用iframe播放视频
             * @param $panel
             * @param url
             * @param title
             * @param autostart
             */
            playByIframe: function($panel, url, title, autostart) {
                this.clear($panel);
                $panel.append('<iframe frameborder=0 width="100%" height="100%" src="' + url + '" allowfullscreen></iframe>');
            },

            /**
             * 使用blwsPlayer播放视频
             * @param $panel
             * @param url
             * @param title
             * @param autostart
             */
            playByBLWS: function($panel, url, title, autostart) {
                var vidParams = url.split("&");
                if (vidParams.length > 1) {
                    var vid = vidParams[1].replace(/^vid=/g, '');
                    this.clear($panel);
                    if (this.videoData($panel, "isLoading")) {
                        //加载中...
                    } else if (!window.polyvObject) {
                        this.videoData($panel, "isLoading", true);
                        var thiz = this;
                        LazyLoad.js(['/base/lib/polyvplayer.min.js'], function() {
                            var player = polyvObject($panel).videoPlayer({
                                width: '100%',
                                height: '100%',
                                'vid': vid,
                                'flashvars': {
                                    "autoplay": autostart,
                                    "setScreen": "fill"
                                },
                                onPlayOver: function(id) {}
                            });
                            thiz.videoData($panel, "player", player);
                            thiz.videoData($panel, "isLoading", false);
                        });
                    } else {
                        var player = polyvObject($panel).videoPlayer({
                            width: '100%',
                            height: '100%',
                            'vid': vid,
                            'flashvars': {
                                "autoplay": autostart,
                                "setScreen": "fill"
                            },
                            onPlayOver: function(id) {}
                        });
                        this.videoData($panel, "player", player);
                    }
                }
            },

            /**
             * 使用SewisePlayer播放视频
             * @param $panel
             * @param url
             * @param title
             * @param autostart
             */
            playBySewise: function($panel, url, title, autostart) {
                this.clear($panel);
                if (this.videoData($panel, "isLoading")) {
                    //加载中...
                } else if (!window.Sewise) {
                    this.videoData($panel, "isLoading", true);
                    var thiz = this;
                    LazyLoad.js(['/base/lib/sewise/sewise.player.min.js'], function() {
                        var player = new Sewise.SewisePlayer({
                            elid: $panel,
                            autostart: autostart,
                            url: url,
                            title: title,
                            skin: "vodWhite",
                            localPath: "/base/lib/sewise/"
                        });
                        if (autostart) {
                            player.startup();
                        }
                        thiz.videoData($panel, "player", player);
                        thiz.videoData($panel, "isLoading", false);
                    });
                } else {
                    var player = new Sewise.SewisePlayer({
                        elid: $panel,
                        autostart: autostart,
                        url: url,
                        title: title,
                        skin: "vodWhite",
                        localPath: "/base/lib/sewise/"
                    });
                    if (autostart) {
                        player.startup();
                    }
                    this.videoData($panel, "player", player);
                }
            },
            /**
             * 使用Embed元素播放视频
             * @param $panel
             * @param url
             * @param title
             * @param autostart
             */
            playByEmbed: function($panel, url, title, autostart) {
                this.clear($panel);
                var html = [];
                html.push('<embed src="');
                html.push(url);
                html.push('" autostart="' + autostart + '" wmode="Opaque" quality="high" width="100%" height="100%" align="middle" allowScriptAccess="never" allowFullScreen="true" mode="transparent" type="application/x-shockwave-flash"></embed>');
                $panel.html(html.join(""));
            },

            /**
             * 使用video播放视频
             * @param $panel
             * @param url
             * @param title
             * @param autostart
             */
            playByVideo: function($panel, url, title, autostart) {
                this.clear($panel);
                $panel.html('<video src="' + url + '" controls="true" webkit-playsinline autoplay="' + autostart + '" style="width: 100%; height: 100%; background-color: rgb(0, 0, 0);"></video>');
                var vDom = $panel.find("video");
                /*makeVideoPlayableInline(vDom.get(0));*/
                if (autostart) {
                    vDom.trigger("play");
                } else {
                    vDom.trigger("pause");
                }
            },

            /**
             * 使用flowplayer播放视频
             * @param $panel
             * @param url
             * @param title
             * @param autoplay
             */
            playByFlow: function($panel, url, title, autoplay) {
                var urlGroupArr = /(.*)\/([0-9]+)\//g.exec(url);
                if (!urlGroupArr || urlGroupArr.length < 3) {
                    return;
                }
                var netConnectionUrl = null;
                if (url.indexOf("sz6") != -1) {
                    netConnectionUrl = "rtmps://5748416443938.streamlock.net/live";
                } else {
                    netConnectionUrl = "rtmps://57721dbe47de5.streamlock.net/live";
                }

                this.clear($panel);
                if (this.videoData($panel, "isLoading")) {
                    //加载中...
                } else if (!window.flowplayer) {
                    this.videoData($panel, "isLoading", true);
                    var thiz = this;
                    LazyLoad.js(['/base/lib/flowplayer/flowplayer.min.js'], function() {
                        flowplayer($panel[0], "/base/lib/flowplayer/flowplayer.swf", {
                            clip: {
                                url: urlGroupArr[2],
                                provider: 'rtmp',
                                live: true
                            },
                            plugins: {
                                rtmp: {
                                    proxyType: 'best',
                                    url: '/base/lib/flowplayer/flowplayer.rtmp.swf',
                                    netConnectionUrl: netConnectionUrl
                                }
                            },
                            onError: function(e) {}
                        });
                        thiz.videoData($panel, "isLoading", false);
                    });
                } else {
                    flowplayer($panel[0], "/base/lib/flowplayer/flowplayer.swf", {
                        clip: {
                            url: urlGroupArr[2],
                            provider: 'rtmp',
                            live: true
                        },
                        plugins: {
                            rtmp: {
                                proxyType: 'best',
                                url: '/base/lib/flowplayer/flowplayer.rtmp.swf',
                                netConnectionUrl: netConnectionUrl
                            }
                        },
                        onError: function(e) {}
                    });
                }
            },

            /**
             * 清空播放器
             */
            clear: function($panel) {
                $panel.empty();
                this.videoData($panel, "currVideoUrl", "");
                this.videoData($panel, "currVideoTitle", "");
            },

            /**
             * 播放视频
             * @param url
             * @param title
             */
            play: function(url, title) {
                var $panel = $("#playerPanel");
                this.videoData($panel, "currVideoUrl", url);
                this.videoData($panel, "currVideoTitle", title);

                if (/type=blws/.test(url)) {
                    this.playByBLWS($panel, url, title, false);
                } else if (/rtmp/.test(url)) {
                    obsPlayer.init(url, 'tVideoDiv', true);
                } else if (/\.swf/.test(url)) {
                    this.playByEmbed($panel, url, title, true);
                } else {
                    this.playBySewise($panel, url, title, true);
                }
            }
        };
        $(function() {
            player.play('<%-url %>', '<%-title %>');
        });
    </script>
</body>

</html>