<!-- 抢红包-未登录状态 -->
<section class="redbag_pop nologin dn" id="redPacket_noLogin">
    <div class="cont">
        <div class="rb_top">
            <span><i></i>马上登录金道直播间<i></i></span>
            <h4>抢大量<b>5</b>~<b>10</b>元微信现金红包</h4>
        </div>
        <a href="javascript:void(0);" class="rb_btn redBagReg"><i class="reg">免费注册</i><b class="bg"><b></b></b></a>
        <div class="rb_tip">
            <span>已有账户, <a href="javascript:void(0);" class="redBagLogin">马上登录</a></span>
            <span class="t2">没有账户? <a href="javascript:void(0);" class="redBagReg">免费注册</a> </span>
        </div>
        <div class="pop_close"><a href="javascript:void(0);">关闭</a></div>
    </div>
</section>

<!-- 抢红包-已登录状态 -->
<section class="redbag_pop logined dn" id="redPacket_normal">
    <div class="cont">
        <div class="rb_top2">
            <span>开抢倒计时</span>
            <div class="timecount">
                <span><b rp="minutesLabel"></b>分</span>
                <span><b rp="secondsLabel"></b>秒</span>
            </div>
        </div>
        <a href="javascript:void(0)" class="rb_btn ani" id="redPacket_rob">
            <i class="">抢</i><b class="bg"><b></b></b>
        </a>
        <a href="javascript:void(0)" class="rb_btn wait" id="redPacket_wait">
            <i class="wait">等待开抢</i><b class="bg"><b></b></b>
        </a>
        <div class="rb_tip">
            <div class="rbnum">
                第<span rp="timesLabel"></span>波微信红包
            </div>
            <div class="tspan">直播时段内每5分钟将有<br>一大波5~10元微信现金红包来袭！<br>人人有份，即刻开抢啦！</div>
        </div>
        <div class="pop_close"><a href="javascript:void(0)">关闭</a></div>
    </div>
</section>

<!-- 抢红包-结果页-无奖 -->
<section class="redbag_pop rb_result dn" id="redPacket_resNo">
    <div class="cont">
        <div class="rb_top2">
            <span><i></i>很遗憾，此次未中奖！<i></i></span>
            <span class="sp2">没关系！<b>5分钟</b>后又将有一大波<br>红包来袭，再接再厉哦！</span>
        </div>
        <div class="rb_tip2">
            <div class="tspan">
                <b>欢迎长按下方二维码或复制微信号<br>
                    （微信号：<em rp="wechat"></em>）关注分析师微信</b>实时领取分析师交易/喊单策略！
            </div>
        </div>
        <div class="qrbox">
            <img src="" alt="" rp="wechatImg">
            <div class="qr-bor">
                <i class="tl"></i>
                <i class="tr"></i>
                <i class="bl"></i>
                <i class="br"></i>
            </div>
        </div>
        <div class="pop_close"><a href="javascript:void(0)">关闭</a></div>
    </div>
</section>

<!-- 抢红包-结果页-中奖！ -->
<section class="redbag_pop rb_result2 dn" id="redPacket_resYes">
    <div class="cont">
        <div class="congratulation">
            恭喜获得<br><b rp="money">10</b>元微信红包
        </div>
        <div class="rb_tip2">
            <div class="tspan">
                <b>欢迎长按下方二维码或复制微信号<br>
                （微信号：<em rp="wechat"></em>）关注分析师微信</b>
                并提供您的<strong>中奖手机号码</strong>给分析师验证<br>即可领取现金红包！
            </div>
        </div>
        <div class="qrbox">
            <img src="" alt="" rp="wechatImg">
            <div class="qr-bor">
                <i class="tl"></i>
                <i class="tr"></i>
                <i class="bl"></i>
                <i class="br"></i>
            </div>
        </div>
        <div class="pop_close"><a href="javascript:void(0)">关闭</a></div>
    </div>
</section>

<!-- 抢红包-5秒倒计时 -->
<section class="redbag_pop pop2 dn" id="redPacket_mini">
    <div class="cont">
        <div class="rb_top2">
            <span>开抢倒计时</span>
        </div>
        <a href="javascript:void(0)" class="rb_btn ani" id="redPacket_miniRob">
            <i class="">抢</i><b class="bg"><b></b></b>
        </a>
        <a href="javascript:void(0)" class="rb_btn wait" id="redPacket_miniWait">
            <i class="t5" rp="seconds">5</i><b class="bg"><b></b></b>
        </a>
        <div class="rb_tip">
            <div class="rbnum">
                第<span rp="timesLabel">30</span>波微信红包
            </div>
            <div class="rb_check">
                <span class="rb_checkbox">
                    <input type="checkbox" id="redPacket_popFlag">
                    <label for="redPacket_popFlag"><i></i></label>
                </span>
                <span class="ctext">勾选后不再弹出提醒</span>
            </div>
        </div>
        <div class="pop_close"><a href="javascript:void(0)">关闭</a></div>
    </div>
</section>